{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

{% set advanced_options = {
    "classes": {
      "ui-dialog": "informative"
    },
    "width": 800
} %}

{{ attach_library('pt_admin_theme/dragzone') }}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <div class="pt-dragzone-header-wrapper">
      <h2{{ title_attributes }}>{{ label }}</h2>
      <a 
        class="use-ajax" 
        data-dialog-type="modal" 
        data-dialog-options="{{ advanced_options|json_encode() }}"
        href="/wat-kan-ik-uploaden">
          Wat kan ik uploaden?
      </a>
    </div>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>