{#
/**
 * @file
 * Default theme implementation for the accessibility summary.
 *
 * Available variables:
 * - info: The number of informative validation messages.
 * - warning: The number of validation messages that have a warning.
 * - error: The number of  validation messages that indicate an error.
 * - attributes: HTML attributes for the container element.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('accessibility-overview') }}>
  {% if not info and not warning and not error %}
    <p>{% trans %}This document is <strong>accessible</strong>.{% endtrans %}</p>
  {% else %}
    {% if not error and not warning %}
      {% set count = info %}
      <p>
        {% trans %}
          This document is <strong>accessible</strong>, but there is still {{ count }} point of improvement:
        {% plural count %}
          This document is <strong>accessible</strong>, but there are still {{ count }} points of improvement:
        {% endtrans %}
      </p>
    {% else %}
      {% set count = info + warning + error %}
      <p>
        {% trans %}
          This document is <strong>not accessible</strong>, because there is {{ count }} issue:
        {% plural count %}
          This document is <strong>not accessible</strong>, because there are {{ count }} issues:
        {% endtrans %}
      </p>
    {% endif %}

    <ul>
      {% if error %}
        <li class="messages messages--error">{% trans %}{{ error }} error{% plural error %}{{ error }} errors{% endtrans %}</li>
      {% endif %}
      {% if warning %}
        <li class="messages messages--warning">{% trans %}{{ warning }} warning{% plural warning %}{{ warning }} warnings{% endtrans %}</li>
      {% endif %}
      {% if info %}
        <li class="messages messages--status">{% trans %}{{ info }} suggestion{% plural info %}{{ info }} suggestions{% endtrans %}</li>
      {% endif %}
    </ul>
  {% endif %}
</div>
