.layout-header {
  background-color: $site-header-bg;
  .region-header > .grid {
    max-width: $bp-1128;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    > div {
      align-self: $logo-alignment;
    }
  }
  &__top {
    height: $site-header-height;
    overflow: hidden;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $site-header-footer-height;
    background-color: $site-header-footer-bg;
    color: $site-header-footer-text;
    a {
      color: $site-header-footer-text;
      &:hover {
        color: $site-header-footer-text-hover;
      }
    }
    .menu-wrapper {
      flex: 0 0 200px;
    }
    .branding--text {
      flex: 1 0 auto;
      text-align: center;
      font-weight: 700;
    }
    .share {
      flex: 0 0 200px;
      .button--share {
        margin-left: auto;
      }
    }
  }
}
