.container {
  max-width: $grid-width;
  margin: 0 auto;
}

.layout-main {
  padding: $default-grid-inner 0;
  background-color: $color-site-bg;
}

// main content
.layout-content {
  margin: 0 auto;
  padding: $default-grid-gutter;
  background-color: $color-site-bg-content;
  &.grid {

    @media all and (min-width: $bp-768) {
      @include grid($gutter: 0);
      padding: $default-grid-tablet;
    }
    @media all and (min-width: $bp-936) {
      padding: $default-grid-top $default-grid-inner;
    }

    @media all and (min-width: $bp-1280) {
      padding: $default-grid-top $default-grid-inner;
    }
  }
}

.region-content {
  width: 100%;
  max-width: 100%;
}

.main-content {
  padding: 0 $space-single $space-double;

  @media all and (min-width: $bp-936) {
    @include grid-col($col: 8);
    margin-bottom: $space-single;
  }

  // Remove left and right padding
  @media all and (min-width: $bp-1280) {
    padding: 0;
  }
}
