/* 
 * @file
 * User styling.
 */

@import '../base/variables';
@import '../base/mixins';

/* User information in header */
.layout-header__footer {
  .user {
    &__picture {
      margin: 0 $space-halve;
      background-color: white;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.41027 1.30593C3.1916 1.64143 3.16867 2.15793 3.17073 2.64507C3.17273 3.11262 3.16127 3.55316 3.20267 3.78055C2.88267 3.76504 2.74873 4.02251 2.79807 4.89464C2.84187 5.66774 3.14967 5.83462 3.33333 5.94086C3.49547 6.72265 3.80773 7.46306 4.36087 8.02294L4.36207 8.01479C4.32793 8.21811 4.28487 8.4342 4.22927 8.64888C3.4678 8.91699 1.59967 9.61514 1.05273 10.1936C0.363267 10.9223 0 13.6666 0 13.6666H12C12 13.6666 11.6367 10.9223 10.9473 10.1936C10.4014 9.61621 8.5392 8.91967 7.77507 8.65042C7.712 8.43754 7.66507 8.22386 7.6294 8.02294C8.18253 7.46306 8.50453 6.72265 8.66667 5.94086C8.85033 5.83462 9.1484 5.66774 9.1922 4.89464C9.24153 4.02251 9.1076 3.76504 8.7876 3.78055C8.82873 3.55483 8.83207 3.12606 8.82887 2.66606C8.8254 2.17979 8.80253 1.65868 8.60667 1.30593C8.3634 0.86773 8.02153 0.610721 7.35487 0.769112C6.77127 0.487699 6.15653 0.185358 5.12793 0.413551C3.96873 0.670694 3.55927 1.0774 3.41027 1.30593Z' fill='%23333333'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat no-repeat;
      background-position: center center;
    }
  }
}
