<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link media="all" rel="stylesheet" href="{{ '/css/preview.css'|path }}">
    {# Create stylesheet links for Corporate identities #}
    {% for option in options %}
    {% set cssPath =  '/css/' ~ option.value ~ '.css' %}
      <link media="all" rel="stylesheet" title="{{option.value}}" href="{{ cssPath|path }}" type="text/css">
    {% endfor %}
    <title>Preview comonents</title>
  </head>
  <body>
    <div class="block--corporate_identity">
      <form id="form-corporate_identity" action="/">
        {% include 'form/select/select' %}
      </form>
    </div>
    <main>
      {{ yield|raw }}
    </main>

    <script>
      (function () {
        var links = document.querySelectorAll('link[title]');
        var select = document.getElementById('{{ selectId }}');
        var brandingStyle = localStorage.getItem('brandingStyle');
        if (brandingStyle) {
          selectStyle(brandingStyle);
          select.value = brandingStyle;
        }

        function selectStyle(title) {
          for(var i = 0; i < links.length; i++) {
            links[i].disabled = true;
            links[i].disabled = links[i].title !== title;
          }
          localStorage.setItem('brandingStyle', title);
        }

        select.addEventListener('change', function (event) {
          title = event.target.options[event.target.selectedIndex].value;
          selectStyle(title);
        });

      }());

    </script>

  </body>
</html>
