.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.block--corporate_identity {
  float: right;
  margin: 16px;
  font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Helvetica","Arial",sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: .875rem;
  color: #535363;
  .form-element {
    min-width: 350px;
    max-width: 100%;
  }
}