{#
/**
 * @file
 * Default theme implementation for a accessibility validation message.
 *
 * Available variables:
 * - code: the validation message code.
 * - severity: The severity of the validation message.
 * - severity_label: The label for the severity of the validation message.
 * - message: The message to display.
 * - selector: The selector defines the pattern to elements to which the
 *   validation message applies.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_pt_validation_message()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
      'messages',
      'messages--' ~ severity|clean_class,
    ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ severity_label }}: {{ message }}
</div>
