.view-documents {
  table.views-table {
    th, td {
      background-color: #FFFFFF;
      border: none;
      border-block-end: 1px solid $color-border;
    }
    th {
      font-weight: 700;
      color: $color-text;
    }
  }
}