main {
  .paragraph--type--table {
    max-width: 100%;
    overflow-x: auto;
  }

  table,
  table.views-table {
    width: $grid-width;
    max-width: 100%;
    margin-block: 0 $space-paragraph-margin;
    border-collapse: collapse;

    th,
    td {
      margin-block: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      vertical-align: top;
      text-align: start;
      padding: $space-single;
      border: 1px solid $color-border;
      border-collapse: collapse;
    }

    th {
      font-weight: 700;
      color: $color-brand-1;
      background-color: $color-brand-3;
      border-block-end: 2px solid $color-brand-1;
    }
  }
}
