{#
/**
 * @file
 * Default theme implementation to display the bundle information.
 *
 * Available variables:
 * - bundle: The node's bundle.
 * - attributes: HTML attributes for the container element.
 *
 * @ingroup themeable
 */
#}
<h2{{ attributes }}>{{ bundle }}</h2>
