{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{{ attach_library('pt_admin_theme/facets') }}

{%
  set classes = [
    'form'
  ]
%}
<details>
  <summary>
    <div class="button button--filter">{{ 'Filteren'|t }}</div>
  </summary>
  <form{{ attributes.addClass(classes) }}>
    {{ children }}
  </form>
</details>
