/*
 * Variables
 * All sass variables go here.
 */

/* Breakpoints */
$bp-320: 320px;
$bp-480: 480px;
$bp-768: 768px;
$bp-936: 936px;
$bp-1128: 1128px;
$bp-1280: 1280px;
$bp-1440: 1440px;
$bp-1920: 1920px;

/* Default site settings */
$grid-width: $bp-936 !default;
$default-grid-columns: 8 !default;
$default-grid-gutter: 16px !default;
$default-grid-top: 48px !default;
$default-grid-tablet: 40px !default;
$default-grid-inner: 96px !default;
$radius: 4px !default;

/* Typography */
$base-fonts-list: "RO Sans", sans-serif !default;
$base-font-weight: 400 !default;
$base-font-size: 16px !default;
$base-line-height: 1.5 !default;
$base-font-size-small: 14px !default;
$base-line-height-small: 1.2 !default;

/* Colors */
$color-brand-1: #01689B !default;
$color-brand-2: #06111E !default;
$color-brand-3: #D9E8F0 !default;
$color-text: #333333;
$color-textgray: #909090;

/* Assigned colors */
$color-link-text: $color-brand-1;
$color-link-text-hover: darken($color-brand-2, 15%);
$color-site-bg: #F3F3F3 !default;
$color-site-bg-content: white !default;
$color-border: #CCCCCC;

/* Messages */
$messages-status: #D9EBF7;
$messages-succes: #E1EDDB;
$messages-warning: #FFF4DB;
$messages-error: #F9DFDD;

/* Header */
$color-header: $color-brand-1;
$site-header-bg: white;
$site-header-inner-bg: $color-brand-2;
$site-header-text: white;
$site-header-text-hover: $color-text;
$site-header-height: 156px;
$site-header-footer-bg: $color-brand-1;
$site-header-footer-text: white;
$site-header-footer-text-hover: rgba($color-brand-1, .2);
$site-header-footer-height: 56px;

/* Branding */
$logo-alignment: center !default;

/* Footer */
$site-footer-bg: white;
$site-footer-text: $color-text;

/* Spacing */
$space-base: 16; // grid gutter width
$space-single: #{$space-base}px;
$space-halve: #{calc($space-base / 2)}px;
$space-third: #{calc($space-base / 3)}px;
$space-double:#{calc($space-base * 2)}px;
$space-triple:#{calc($space-base * 3)}px;
$space-quadruple:#{calc($space-base * 4)}px;

$space-paragraph-margin: $space-triple;


