{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{%
  set corporate_identity = node.getCorporateIdentity ? node.getCorporateIdentity|clean_class : 'admin'
%}
{%
  set logo_path = "/" ~ directory ~ "/public/images/logo-" ~ corporate_identity ~ ".svg"
%}

{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" rel="home" class="site-logo">
    {% if node.type.entity.label == 'Document' %}
    <img src="{{ logo_path }}" alt="{% trans %}Logo Rijksoverheid, go to the start page{% endtrans %}" />
      {% else %}
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    {% endif %}
    </a>
  {% endif %}
  {% if site_name %}
    <div class="site-name visually-hidden">
      <a href="{{ path('<front>') }}" rel="home">{{ site_name }}</a>
    </div>
  {% endif %}
  {% if site_slogan %}
    <div class="site-slogan">{{ site_slogan }}</div>
  {% endif %}
{% endblock %}
