button {
  @include buttonreset();
  background-color: $color-brand-2;
  border-radius: 4px;
  display: flex;
  align-content: center;
  color: white;
  padding: 0;

  a {
    display: flex;
    align-content: center;
    color: white;
    padding: 12px $space-double;
  }

  &:hover {
    background-color: $color-brand-1;
  }
}
