.form-element {
  &--type-select {
    padding: $space-halve $space-triple $space-halve $space-single;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3e%3cpath fill='none' stroke-width='1.5' d='M1 1l6 6 6-6' stroke='%23545560'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 2.75rem 0.5625rem;
    background-color: #FFFFFF;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid $color-border;
    border-radius: 0;
  }

}
