<label for={{ selectId }} class="form-item__label">{{ fieldLabel }}</label>
<select name={{ selectId }} id={{ selectId }} class="form-element form-element--type-select">
  {% for option in options %}
    <option value="{{option.value}}">{{option.label}}</option>
  {% endfor %}
</select>
