<dl>
  <dt>Definition list term</dt>
  <dd>Definition list definition</dd>
  <dt>Another definition list term</dt>
  <dd>Another definition list definition</dd>
  <dd>And, another definition list definition</dd>
</dl>
