{#
/**
 * @file
 * Default theme implementation for the hard-coded content of the front page.
 *
 * Available variables:
 * - attributes: HTML attributes for the container element.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  <p>{% trans %}This is the front page.{% endtrans %}</p>
</div>
