{#
/**
 * @file
 * Theme override for a node edit form.
 *
 * Two column template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @see \Drupal\pt_doccess\EntityOperations::nodeFormAlter()
 * @see pt_admin_theme_form_node_form_alter()
 */
#}

{{ attach_library('pt_admin_theme/node-edit') }}

<div class="layout-node-form clearfix grid">

  {# Main content #}
  <div class="layout-region layout-region--node-main">
    <div class="layout-region__content">
      <div class="inner">
        {{ form|without('advanced', 'footer') }}
      </div>
    </div>
  </div>

  {# Sidebar #}
  <div class="layout-region layout-region--node-secondary">
    <div class="layout-region__content">
      {{ form.advanced }}
    </div>
  </div>

</div>
