[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  width: 1.15rem;
  height: 1.15rem;
  border: 1px solid $color-brand-1;
  border-radius: 0.2rem;
  transform: translateY(-0.075em);
  display: inline-flex;
  align-items: center;
  place-content: center;
  margin-right: 0.3rem;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 60ms transform ease-in-out;
  box-shadow: inset 1em 1em $color-brand-1;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 0.1rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em $color-brand-1;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"][disabled="disabled"] {
  color: $color-textgray;
  box-shadow: inset 1em 1em white;
  border-color: $color-textgray;
  cursor: not-allowed;
}
input[type="checkbox"][disabled="disabled"]::before {
  box-shadow: inset 1em 1em $color-textgray;
}
input[type="checkbox"]:focus {
  border: 2px solid black;
}