.form-select {
  padding: $space-halve $space-triple $space-halve $space-single;
  font-family: $base-fonts-list;
  line-height: $base-line-height;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.1568 0.558334C12.6007 0.0091331 11.8777 -0.210547 11.3216 0.393574L6.98386 4.62242L2.70171 0.338654C2.14559 -0.210547 1.42263 -0.0457869 0.866507 0.503414C0.310384 1.05261 0.0879351 1.76657 0.69967 2.31577L6.03845 7.5881C6.59458 8.1373 7.48437 8.1373 8.04049 7.5881L13.3237 2.3707C13.8798 1.82149 13.713 1.10753 13.1568 0.558334Z' fill='%23333333'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: calc(100% - $space-single) center;
  background-size: initial;
  background-color: #FFFFFF;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid $color-border;
  border-radius: 0;
    option {
      background: transparent;
    }
}
