/*
 * Variables
 * All sass variables go here.
 */

/* Breakpoints */
$bp-320: 320px;
$bp-480: 480px;
$bp-768: 768px;
$bp-936: 936px;
$bp-1128: 1128px;
$bp-1280: 1280px;
$bp-1342: 1344px;
$bp-1440: 1440px;
$bp-1920: 1920px;

/* Default site settings */
$grid-width: $bp-1342 !default;
$default-grid-columns: 12 !default;
$default-grid-gutter: 24px !default;
$default-grid-top: 48px !default;
$default-grid-top-mobile: 40px !default;
$default-grid-inner: 0 !default;
$radius: 4px !default;
$border-size: 1px !default;
$border-outline-focus: 1px dashed #333333;


/* Typography */
$base-fonts-list: "RO Sans", sans-serif !default;
$base-font-weight: 400 !default;
$base-font-size: 16px !default;
$base-line-height: 1.5 !default;
$base-font-size-small: 14px !default;
$base-line-height-small: 1.2 !default;

/* Colors */
/* Colors for default theme */
$color-brand-1: #A90061;
$color-brand-2: #760044;
$color-brand-3: #F2D9E7;
$color-brand-4: #01689B;
$color-text: #333333;
$color-textgray: #909090;
$color-gray: #CCCCCC;
$color-background-gray: #F3F3F3;

/* Assigned colors */
$color-link-text: $color-brand-1;
$color-link-text-hover: darken($color-brand-2, 15%);
$color-site-bg: $color-background-gray;
$color-site-bg-content: none;
$color-border: $color-gray;
$color-border-focus: $color-gray;

/* Messages */
$messages-status: #D9EBF7;
$messages-succes: #E1EDDB;
$messages-warning: #FFF4DB;
$messages-error: #F9DFDD;
$messages-error-text: #D52B1E;
$messages-status-hover: #D9EBF7;
$messages-succes-hover: #39870C;
$messages-warning-hover: #FFF4DB;
$messages-error-hover: #D52B1E;

/* Labels */
$label-default-bg: $color-background-gray;
$label-succes-bg: #E1EDDB;
$label-warning-bg: #FFF4DB;

/* Buttons */
$button-bg: $color-brand-1;
$button-text: #ffffff;
$button-text-hover: #ffffff;
$button-bg-hover: $color-brand-2;


/* Header */
$color-header: $color-text;
$site-header-bg: white;
$site-header-inner-bg: $color-brand-2;
$site-header-text: white;
$site-header-text-hover: $color-text;
$site-header-height: 156px;
$site-header-height-mobile: 74px;
$site-header-footer-bg: $color-brand-1;
$site-header-footer-text: white;
$site-header-footer-text-hover: rgba($color-brand-1, .2);
$site-header-footer-height: 56px;
$site-header-breadcrumb-bg: $color-brand-3;
$site-header-breadcrumb-height: 48px;

/* Branding */
$logo-alignment: center !default;

/* Footer */
$site-footer-bg: white;
$site-footer-text: $color-text;
$site-footer-width: $bp-1128;

/* Spacing */
$space-base: 16; // grid gutter width
$space-single: #{$space-base}px;
$space-halve: #{calc($space-base / 2)}px;
$space-third: #{calc($space-base / 3)}px;
$space-quarter: #{calc($space-base / 4)}px;
$space-double: #{calc($space-base * 2)}px;
$space-triple: #{calc($space-base * 3)}px;
$space-quadruple: #{calc($space-base * 4)}px;

/* Forms */
$form-color-input-error: #D52B1E;
$form-color: $color-text;
$form-item-height: calc(($base-font-size * $base-line-height) + $space-single + ($border-size * 2));
