{#
/**
 * @file
 * Default theme implementation to display a pt_dragzone form widget.
 *
 * Available variables:
 * - element: Form element for the pt_dragzone element.
 * - attributes: HTML attributes for the containing element.
 *
 * @ingroup themeable
 */
#}

<div{{ attributes }}>
  <div class="dz-message" data-dz-message>
    <div class="pt-dropzone">
      <img src="/{{ directory }}/images/icons/icon-upload.svg" alt="Bestand uploaden icoon" /> 
      <div>
        <button class="dz-button" type="button">Selecteer bestanden</button> of sleep naar dit vak.
      </div>
    </div>
  </div>

  {# Progressbar #}
  <div id="progress-container" class="progress-container">
    <img src="/{{ directory }}/images/icons/Icon-upload-complete.svg" class="procress-done" alt="Bestand uploaden icoon" /> 
    <div id="progress" class="progress">
      <div class="progress--bar" role="progressbar" data-dz-uploadprogress></div>
    </div>
    <div class="progress--text"></div>
  </div>
</div>