.layout-header__top {
  height: 74px;
  overflow: hidden;
}

.layout-header {
  background-color: $site-header-bg;

  .region-header > .grid {
    max-width: $bp-1128;
    margin: 0 auto $space-single;
    display: flex;
    flex-direction: column;

    > div {
      align-self: $logo-alignment;
    }
  }

  &__top {
    height: $site-header-height-mobile;
    overflow: hidden;

    @media all and (min-width: $bp-768) {
      height: $site-header-height;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: $site-header-footer-height;
    background-color: $site-header-footer-bg;
    color: $site-header-footer-text;

    > .container {
      display: flex;
      justify-content: space-between;
    }
  }

  &__breadcrumb {
    display: flex;
    align-items: center;
    height: $site-header-footer-height;
    background-color: $color-brand-3;
    color: $site-header-footer-text;
  }
}

.region-secondary-menu {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}