/**
 * Layout overrides for node add/edit form.
 */

.layout-region {
  box-sizing: border-box;
}

.layout-region__content {
  >.inner {
    padding: $default-grid-gutter;
    background-color: white;
    margin-bottom: $default-grid-gutter;
  }
}
.layout-region--node-secondary {
  .inner {
    padding: $space-double;
    background-color: white;
    margin-bottom: $space-halve;
  }  
}

@media screen and (min-width: $bp-936) {

  .layout-node-form.grid {
    @include grid($gutter: 0);
    max-width: 100%;
  }

  .layout-region--node-main {
    // float: right;
    @include grid-col($col: 8, $order: 2, $flex-grow: 1);
  }

  .layout-region--node-main .layout-region__content {
    margin-right: $default-grid-gutter;
    >.inner {
      padding: $default-grid-gutter;
    }
  }

  .layout-region--node-secondary {
    @include grid-col($col: 4, $order: 1, $max-width: 420px);
    margin-right: $default-grid-gutter;
  }
  .form-item {
    max-width: calc(100% - ($default-grid-gutter * 2));
  }
}

.node-document-edit-form {
  .tabledrag-toggle-weight-wrapper,
  .delta-order,
  .tabledrag-hide {
    display: none;
  }
  .field-multiple-table {
    th {
      border-bottom: none;
      h4.label {
        font-size: 1.5rem;
      }
      .paragraphs-actions {
        display: none;
      }
    }
  }
}
