.button {
  @include buttonreset();
}

input[type="submit"],
input.button {
  background-color: $color-brand-1;
  color: white;
  padding: $space-halve $space-single;
  cursor: pointer;
  &:hover {
    background-color: darken($color-brand-1, 7%);
  }
}

.button--mobile-nav {
  background-color: initial;
  .mobile-nav {
    &__icon {
      cursor: pointer;
    }
    &__label {
      color: $site-header-footer-text;
      margin-left: $space-single;
      font-weight: 700;
    }
  }
}
.button--share {
  background-color: initial;
  .share {
    &__icon {
      cursor: pointer;
    }
    &__label {
      color: $site-header-footer-text;
      margin-right: $space-single;
      font-weight: 700;
    }
  }
}