/* Colors for Gemeente Ridderkerk */
$color-brand-1: #028532;
$color-brand-2: #06111E;
$color-brand-3: #f7f6f2;

/* Branding */
$logo-alignment: start;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');
$base-fonts-list: 'Lato', sans-serif;
$base-font-weight: 400;
