.assistant .holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 24px;
  position: relative;
  width: 774px;
  height: auto;
  background: #ffffff;
  box-shadow: 0 0 4px rgba(51, 51, 51, 0.15), 0 0 10px rgba(51, 51, 51, 0.1);
}
