/**
 * @file
 * Theme overwrite for dropbuttons used in View documents.
 */

.js .view-documents {
  td .dropbutton-wrapper {
    min-height: inherit;
  }
  td .dropbutton-multiple {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    padding-right: 0;
    .dropbutton-widget {
      top: -$space-halve;
      right: 0;
    }
    .dropbutton-toggle {
      position: absolute;
      top: 2px;
      right: 1px;
      bottom: auto;
      >button {
        width: 38px;
        height: 38px;
      }   
    }
    &.open {
      .dropbutton {
        padding: 0;
        width: 200px;
        background-color: #ffffff;
        border: 1px solid $color-border;
        box-shadow: 0px 2px 2px rgba(51, 51, 51, 0.05), 0px 6px 6px rgba(51, 51, 51, 0.05);
      }
      .dropbutton-arrow {
        border: 1px solid $color-border;
        border-radius: 0;
        background-color: #ffffff;
        opacity: 1;
        background: url("../images/icons/icon-close.svg") no-repeat center;
        box-shadow: 0px 2px 2px rgba(51, 51, 51, 0.05), 0px 6px 6px rgba(51, 51, 51, 0.05);
        border-left-color: #ffffff;
        z-index: 1;
      }
    }
  }
  .dropbutton {
    button {
      display: flex;
      width: 36px;
      height: 36px;
      &:focus {
        outline: $border-outline-focus;
        outline-offset: 1px;
      }
    }
    width: 100%;
    transition: none;
    .dropbutton-arrow {
      position: relative;
      text-align: center;
      -webkit-appearance: none;
      -moz-appearance: none;
      right: 0;
      top: 0;
      left: 0;
      display: block;
      height: 36px;
      width: 36px;
      background: url("../images/icons/icon-dropbutton-toggle.svg") no-repeat center;
      background-size: 26px 26px;
      border: 1px solid transparent;
      transition: none;
      z-index: 1;
      &:hover {
        background-color: $color-background-gray;
      }
    }  

    .secondary-action {
      padding: $space-halve;
      a {
        display: block;
        padding: $space-halve 24px $space-halve 44px;
        background: url("../images/icons/icon-dropbutton-toggle.svg") no-repeat $space-single center;
        &:focus-visible {
          outline: $border-outline-focus;
          outline-offset: 1px;
        }
      }
      a[href*="document"] {
        background-image: url("../images/icons/icon-publish.svg");
      }
      a[href*="edit"] {
        background-image: url("../images/icons/icon-edit.svg");
      }
      a[href*="delete"] {
        background-image: url("../images/icons/icon-delete.svg");
        color: $messages-error-text;
        border-top: 1px solid $color-border;
      }
      &:hover {
        background-color: $color-background-gray;
      }
    }
  }
}
