.menu {
  &--main {
    position: fixed;
    z-index: 10;
    inset-block-start: 0;
    inset-inline-start: 100%;
    visibility: hidden;
    overflow: auto;
    flex-basis: max-content;
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: $space-single;

    &.is-active {
      visibility: visible;
      transform: translateX(-100%);
    }

    ul.menu {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}
