/**
 * @file
 * Assist form styles.
 */

@import '../base/variables';
@import '../base/mixins';

.ui-dialog {
  padding: $space-double;

  fieldset {
    border: none;
    padding: 0;
  }

  .form-item {
    &--current-content-image {
      width: 100%;
      max-width: 100%;

      img {
        max-width: 600px;
        height: auto;
      }
    }

    &--validation-message-question {
      font-weight: 700;
      display: inline-flex;
    }

    &--validation-message-question-yes,
    &--validation-message-question-no {
      display: inline-flex;
      font-weight: 700;
      padding: 0 0 0 40px;
      background-image: url('../../images/icons/icon-check.svg');
      background-repeat: no-repeat;
      background-position: 8px center;
    }

    &--validation-message-question-no {
      background-image: url('../../images/icons/icon-error.svg');
    }

    &--current-content,
    &--content-fix {
      color: #333333;
      margin: 0;
      padding: 24px;
      border: 1px solid $color-border;
    }

    &--alt-text {
      width: 100%;
      max-width: 100%;

      input.form-text {
        width: calc(100% - 32px);
      }
    }
  }

  h2,
  h3,
  h4,
  h5 {
    color: #333333;
  }

  .field--type-pt-validation-message .messages {
    margin: 8px 0;
    padding: 0 0 0 36px;
    background-position: 0px center;
    background-color: transparent;
  }

  .field--name-field-validation-messages {

    .field__label {
      font-weight: 700;
      margin-bottom: $space-halve;
    }

    .field__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.ui-dialog-warning {
  .ui-dialog-title {
    padding: 0 0 0 32px;
    background-image: url('../../images/icons/icon-warning.svg');
    background-repeat: no-repeat;
    background-position: left center;
  }
}