/**
 * @file
 * Assist form buttons styles.
 */

@import '../base/variables';
@import '../base/mixins';

.assist-form {

  // Style radio buttons.
  .confirm_finding .form-radios {
    display: flex;
  }

  .form-item--confirm-finding {
    display: flex;
    margin-right: $space-halve;

    .confirm_finding.form-radio {
      opacity: 0;
      position: fixed;
      width: 0;
    }

    label.option {
      margin: 0;
      color: $color-text;
      padding: 8px 16px 8px 40px;
      background-image: url('../../images/icons/icon-check-zw.svg');
      background-repeat: no-repeat;
      background-color: $messages-succes;
      background-position: 6px center;

      &:hover {
        cursor: pointer;
        color: $button-text;
        background-color: $messages-succes-hover;
      }
    }

    &:nth-child(2) {
      label.option {
        background-image: url('../../images/icons/icon-error.svg');
        background-color: $messages-error;

        &:hover {
          color: $button-text;
          background-color: $messages-error-hover;
        }
      }
    }
  }
  .user-actions {
    display: flex;
  }

  input.button {
    margin: 0 0 $space-single;
    color: $color-text;
    padding: 8px 16px 8px 40px;
    font-size: 1rem;
    background-repeat: no-repeat;


    &--succes {
      background-image: url('../../images/icons/icon-check.svg');
      background-color: $messages-succes;
      background-position: 6px center;
      margin-right: $space-halve;

      &:hover {
        cursor: pointer;
        color: $button-text;
        background-color: $messages-succes-hover;
      }
    }

    &--error {
      background-image: url('../../images/icons/icon-error.svg');
      background-color: $messages-error;
      background-position: 6px center;

      &:hover {
        cursor: pointer;
        color: $button-text;
        background-color: $messages-error-hover;
      }
    }

    &--primary {
      background-color: $button-bg;
      color: $button-text;
      padding: 8px 16px;

      &:hover {
        cursor: pointer;
        color: $button-text;
        background-color: $button-bg-hover;
      }
    }
  }

}