  /**
 * @file
 * Branding styles.
 */

  @import '../base/variables';
  @import '../base/mixins';

  :root {
    accent-color: $color-brand-1;
  }

  .site-logo {
    display: block;

    > img {
      max-width: 58%;
      margin-left: 44%;
    }
  }

  @media all and (min-width: $bp-768) {
    .site-logo {
      > img {
        max-width: 100%;
        width: 373px;
        margin-left: 313px;
      }
    }
  }