/**
 * @file
 * Breadcrumbs.
 */

@import '../base/variables';
@import '../base/mixins';

.breadcrumb {
  padding: 0;

  &__l1 {
    font-size: 1rem;
    font-weight: 700;
    color: $color-text;
    background-color: $color-brand-3;
    display: flex;
    align-items: center;
    padding: 0 $space-single;
  }
}

// Hide breadcrumbs on document overview page.
.path-frontpage .layout-header__breadcrumb,
.path-user .layout-header__breadcrumb {
  display: none;
}

.breadcrumb__list,
[dir="rtl"] .breadcrumb__list {
  margin: 0;
  padding: 0 $space-single;
  list-style-type: none;
}

.breadcrumb__item,
.breadcrumb__link {
  font-family: $base-fonts-list;
  display: inline;
  text-decoration: underline;
  color: $color-text;
  font-weight: 400;

  a {
    color: $color-text;
  }
}

.breadcrumb__item+.breadcrumb__item::before {
  display: inline-block;
  padding: 0 0.75rem;
  content: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 -2 10 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.558334 13.1568C0.0091331 12.6007 -0.210547 11.8777 0.393574 11.3216L4.62242 7.03947L0.338654 2.70171C-0.210547 2.14559 -0.0457869 1.42263 0.503414 0.866507C1.05261 0.310384 1.76657 0.0879351 2.31577 0.69967L7.5881 6.03845C8.1373 6.59458 8.1373 7.48437 7.5881 8.04049L2.3707 13.3237C1.82149 13.8798 1.10753 13.713 0.558334 13.1568Z' fill='%23A90061'/%3E%3C/svg%3E%0A");
}

[dir="rtl"] :is(.breadcrumb__item + .breadcrumb__item::before) {
  transform: scaleX(-1);
}

.breadcrumb__link:hover,
.breadcrumb__link:focus {
  text-decoration: none;
}