/**
 * @file
 * buttons styles.
 */

@import '../base/variables';
@import '../base/mixins';
 .button {
  @include buttonreset();
  min-height: $form-item-height;
}
button {
  &.tabledrag-toggle-weight {
    @include buttonreset();
    @include defaultLink();
    display: inline-flex;
  }
}
input[type="submit"],
input.button,
.ui-dialog .ui-dialog-buttonpane .button {
  background-color: $color-brand-1;
  color: white;
  font-weight: 700;
  padding: $space-halve $space-single;
  cursor: pointer;
  &:hover {
    background-color: darken($color-brand-1, 7%);
  }
}
input.button {
  &--succes {
    margin: 0 0 $space-single;
    color: $color-text;
    padding: 8px 16px 8px 40px;
    background-image: url('../../images/icons/icon-check.svg');
    background-repeat: no-repeat;
    background-color: $messages-succes;
    background-position: 6px center;
  }
  &--error {
    margin: 0 0 $space-single;
    color: $color-text;
    padding: 8px 16px 8px 40px;
    background-image: url('../../images/icons/icon-error.svg');
    background-repeat: no-repeat;
    background-color: $messages-error;
    background-position: 6px center;
  }
}

/* Secundary button */
input.button {
  &--secondary,
  &#edit-preview,
  &#edit-meta-actions-preview {
    background-color: $color-brand-3;
    color: $color-brand-1;
    &:hover {
      background-color: darken($color-brand-3, 15%);
    }
  }
}
