/**
 * Clipboard copy actions styles.
 */

 /**
 * @file
 * Default styles.
 */

@import '../base/variables';
@import '../base/mixins';

.path-form {
  .details-wrapper {
    display: flex;
    flex-wrap: wrap;

    .form-type--checkbox {


    }
    .form-item--path-0-alias {
      margin: 0;
      width: 60%;
      >.form-text {
        margin: 0;
      }
    }
  }
}

.pt-clipboard {
  &__button {
    @include buttonreset();
    width: 39%;
    height: 42px;
    margin-left: 2px;
    align-self: end;
    background-color: $color-brand-3;
    color: $color-brand-1;
    font-weight: 700;
    padding: 8px 40px 8px 16px;
    background-image: url('../../images/icons/icon-document.svg');
    background-repeat: no-repeat;
    background-position: right 18px center;
    cursor: pointer;
    &:hover {
      background-color: darken($color-brand-3, 15%);
    }
  }
}