/**
 * Details marker styles.
 */

 /**
 * @file
 * Default styles.
 */

@import '../base/variables';
@import '../base/mixins';

/* Remove the marker on Chrome */

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  content: "";
}

.entity-meta {
  details summary {
    pointer-events: none;
    position: relative;
    &:hover,
    &:focus {
      cursor: pointer;
      color: $color-brand-1;
    }
  }
  details summary::after {
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
    top: .6rem;
    right: 0;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    content: "";
    transition: transform var(--details-transform-transition-duration) ease-in 0s;
    text-align: center;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.1568 0.558334C12.6007 0.0091331 11.8777 -0.210547 11.3216 0.393574L6.98386 4.62242L2.70171 0.338654C2.14559 -0.210547 1.42263 -0.0457869 0.866507 0.503414C0.310384 1.05261 0.0879351 1.76657 0.69967 2.31577L6.03845 7.5881C6.59458 8.1373 7.48437 8.1373 8.04049 7.5881L13.3237 2.3707C13.8798 1.82149 13.713 1.10753 13.1568 0.558334Z' fill='%23333333'/%3E%3C/svg%3E%0A");
    background-size: initial;
    background-repeat: no-repeat;
    background-position: center;
    &:hover,
    &:focus {
      cursor: pointer;
      color: $color-brand-1;
    }
  }

  details[open] summary::after {
    transform: rotate(-180deg);
  }

  // Form elements inside a details panel.
  details .form-item {
    max-width: 100%;
    input.form-text {
      max-width: calc(100% - $space-double);
    }
    select.form-select {
      width: 100%;
      max-width: 100%;
    }
  }
}
