/**
 * @file
 * Loginform styles.
 */

@import '../base/variables';
@import '../base/mixins';

a.use-ajax,
.layout-content a.use-ajax {
  color: $color-brand-4;
  text-decoration: underline;
}

.ui-dialog {
  position: absolute;
  top: 0;
  left: 0;
  padding: $space-double;
  border: 0;
  border-radius: 0;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px rgba(51, 51, 51, 0.15), 0px 0px 10px rgba(51, 51, 51, 0.1);
  font-family: $base-fonts-list;
  font-size: $base-font-size;
  line-height: $base-line-height;

  &.informative {
    padding: $space-double;
  }

  button.ui-button {
    @include buttonreset();
    top: $space-halve;
    background-position: center;
    background-color: #ffffff;
  }

  .ui-widget-header .ui-icon {
    background-image: url('../../images/icons/icon-close.svg');
    background-position: center;
  }
}

.ui-dialog-titlebar-close {
  top: 0;
}

@media all and (max-width: 48em) {

  /* 768px */
  .ui-dialog:not(.ui-dialog-off-canvas) {
    min-width: 92%;
    max-width: 92%;
    background-image: none;

    .ui-dialog-titlebar,
    .ui-dialog-buttonpane {
      max-width: inherit;
    }
  }
}

.ui-dialog .ui-dialog-titlebar {
  // width: 392px;
  // max-width: 80%;
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  color: $color-brand-1;
  border-radius: 0;
  background: transparent;
  border: none;
}

.ui-dialog .ui-dialog-title {
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  line-height: 36px;
  color: $color-text;
  font-weight: 700;
  margin: 0 0 $space-single;
}

.ui-dialog > .ui-dialog-content {
  overflow: auto;
  padding: 0;
  color: $color-text;
  background: transparent;
}

.ui-dialog > .ui-dialog-buttonpane {
  // width: 392px;
  // max-width: 80%;
  color: $color-text;
  border-radius: 0;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;

  .ui-dialog-buttonset {
    // width: 100%;
    margin: 0;
    padding: 0;
  }
}

.ui-dialog .ui-dialog-buttonpane .ui-button-text-only .ui-button-text {
  padding: 0;
}

.ui-dialog .ui-dialog-content {
  position: static;
  background: transparent;
}

/* Form action buttons are moved in dialogs. Remove empty space. */

.ui-dialog .ui-dialog-content .form-actions {
  margin: 0;
  padding: 0;
}

/* Off-canvas styles. */
.ui-dialog.ui-dialog-off-canvas .ui-widget-content.ui-dialog-content {
  background: none;
}

#drupal-off-canvas .form-type--boolean {
  margin-left: 0;
}

#drupal-off-canvas .form-item .form-item__description {
  color: $color-textgray;
  font-size: 0.75rem;
}

/* Form */
.ui-dialog .fieldset-legend {
  display: flex;
  margin: 0 0 $space-single;
}

.ui-dialog .form-item {

  margin: 0 0 $space-single;

  input {
    margin-block: 0;

    &:focus-visible {
      outline: none;
      border-radius: 0;
      border: 1px solid $color-brand-1;
    }
  }

  label {
    font-weight: 700;
    color: $color-text;
  }

  .description {
    display: none;
  }
}

/* Form actions */
.ui-dialog .ui-dialog-buttonpane {
  button {
    &.form-submit {
      margin: $space-double 0 $space-single;
      color: $button-text;
      width: fit-content;
      border-radius: 0;
      padding-left: $space-single;
      padding-right: 48px;
      background-image: url('../../images/icons/icon-arrow-right.svg');
      background-repeat: no-repeat;
      background-color: $button-bg;
      background-position: calc(100% - 16px) center;

      &:hover {
        cursor: pointer;
        color: $button-text-hover;
        background-color: $button-bg-hover;
      }
    }
  }
}