@import '../base/variables';
@import '../base/mixins';

.dropzone {
  background-color: white;
  border: 2px dashed $color-gray;
  font-weight: bold;
  min-height: 222px;
  border-radius: 0;
  padding: 0px;

  &:hover {
    border-color: $color-brand-1;
    background-color: $color-brand-3;
  }

  .dz-message .dz-button {
    color: $color-brand-4;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &:focus-visible {
      outline: $border-outline-focus;
      outline-offset: 1px;
    }
  }

  img {
    display: block;
    max-width: 80px;
    max-height: 80px;
    margin: 0 auto $space-single;
  }

  // Total progress bar.
  .progress-container {
    display: none;
    text-align: center;
    margin: 3em 0;

    .progress-done {
      opacity: 0;
      transition: all 0.8s ease-in;
      transition-delay: 0.5s;
    }

    .progress {
      border-radius: 5px;
      height: 8px;
      width: 430px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      background-color: $color-background-gray;
      opacity: 1;

      &--bar {
        width: 0%;
        height: 8px;
        border-radius: 5px;
        background-color: $color-brand-1;
        transition: all 0.8s ease;
        transition-delay: 0.5s;
      }

      &--text {
        margin-top: 24px;
        font-size: 1rem;
        text-align: center;
        color: $color-text;
        line-height: $base-line-height;
        font-family: $base-fonts-list;
      }
    }
  }
}

// New documents table row while uploading.
tr.new {
  background-color: #fff;
  opacity: 0;
  transition: all 0.8s ease;

  &.added {
    background-color: #fff;
    opacity: 0;
  }

  &.uploading {
    background-color: $messages-status;
    opacity: 1;

  }

  &.success {
    background-color: $messages-succes;
    opacity: 1;
  }

  // File progress bar.
  .dz-progress {
    display: block;
    border-radius: 5px;
    height: 8px;
    width: 100px;
    max-width: 100%;
    margin-left: auto;
    background-color: $color-background-gray;
    opacity: 1;
    float: right;

    .dz-upload {
      width: 0%;
      height: 8px;
      border-radius: 5px;
      background-color: $color-brand-1;
      transition: all 0.8s ease;
    }
  }
}

.pt-dragzone-header-wrapper {
  align-items: baseline;
  display: flex;

  h2 {
    margin-right: $space-halve;
  }

  a {
    color: $color-brand-4;
  }
}

.ui-dialog {

  .ui-dialog-titlebar,
  .ui-dialog-content {
    font-size: 1rem;
    line-height: $base-line-height;
    font-family: $base-fonts-list;
  }

  .informative-close {
    @include buttonreset();
    @include button-var($button-type: 'primary', $padding: $space-single);
    color: white;
  }
}