/**
 * Dropbutton styles.
 */

 /**
 * @file
 * Default styles.
 */

 @import '../base/variables';
 @import '../base/mixins';

 ul.dropbutton {
  &--small {
    background-color: white;
    border: 1px solid $color-border;

    li.dropbutton-action {
      input.button {
        background: transparent;
        color: $color-text;
      }
    }

  }
}