/**
 * @file
 * FAQ styles.
 */

@import '../base/variables';
@import '../base/mixins';

// Block exposed form.
.block.views-exposed-form {
  display: flex;
  width: 429px;
  max-width: 100%;
  margin: 0;
  flex-direction: column;

  .form {
    display: flex;
    .form-item {
      flex-grow: 1;
      margin: 0;
      .form-text {
        border: none;
        margin: 0;
        width: calc(100% - $space-double);
        &::placeholder {
          font-style: italic;
        }
      }
    }
    .form-actions {
      margin: 0;
    }
    .form-submit {
      margin: 0;
    }
  }
}
