/**
 * @file
 * FAQ styles.
 */

@import '../base/variables';
@import '../base/mixins';

// Grid layout for filters on the documents page.
.path-documenten .region-content {
  display: grid;
  grid-template-columns: 1fr 429px 110px;
  grid-template-rows: auto;
  row-gap: $space-halve;
  column-gap: $space-halve;
  grid-template-areas:
    "title title title"
    "upload upload upload"
    ". search facets"
    "documents documents documents";

  .block-page-title-block {
    grid-area: title;
    margin: 0 0 16px;
    h1.page-title {
      margin: 0;
    }
  }
}

.block-pt-doccess {
  grid-area: upload;
  min-height: 288px;
}

.views-exposed-form {
  grid-area: search;
  justify-self: stretch;
}

.facets-form {
  grid-area: facets;
  justify-self: stretch;
}

.block-system-main-block {
  grid-area: documents;
}

// Filter block.
.block.block-pt-facets {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
}

// Filter button.
.button--filter {
  @include button-var($button-type: 'secondary',
    $background-image: url('../../images/icons/icon-filter.svg'),
    $background-align: 'right',
  );
}

.js-button-reset {
  @include button-var($button-type: 'secondary',
  );
}

input[value="Zoeken"] {

  @include button-var($button-type: 'secondary',
    $background-image: url('../../images/icons/icon-search.svg'),
    $background-align: 'right',
  );
}

.form-item--reset {
  margin: 0;
}

.js-button-reset {
  background-image: none;
  padding: 0 $space-single;
}

// Hide contextual button.
.facets-form {
  .contextual .trigger {
    display: none;
  }

  .visually-hidden.focusable:active,
  .visually-hidden.focusable:focus {
    position: static !important;
    overflow: hidden;
    display: none;
    width: 0;
    height: 0;
  }
}

// Facet form.
#facets-form {
  position: absolute;
  right: 0;
  z-index: 2;
  padding: 0;
  margin: 0;
  font-family: $base-fonts-list;
  font-size: $base-font-size;
  line-height: $base-line-height;
  border: 1px solid $color-border;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px rgba(51, 51, 51, 0.15), 0px 0px 10px rgba(51, 51, 51, 0.1);

  .form-wrapper {
    border: 0;
  }

  .select-filters {
    background-color: #ffffff;
    width: 432px;
    height: 400px;

    .form-radios {
      padding: $space-single;
    }

    // Reset link.
    .form-item--select-filter:first-child {
      display: flex;
      position: absolute;
      margin: 0;
      right: 24px;
      top: 32px;
      z-index: 1;

      label.option {
        margin: 0;
        color: $color-brand-4;
        text-decoration: underline;
        font-weight: 300;
        padding: 0;
        background-image: none;

        &:hover {
          color: $color-text;
        }
      }

      input[type="radio"]:checked+label {
        display: none;
      }
    }
  }

  .form-item-facet {
    position: absolute;
    top: 0;
    right: 0;

    >.form-item {
      width: 384px;
      height: 252px;
      background-color: #ffffff;
      margin: 0;
      padding: 72px 24px 24px;
    }

    fieldset {
      .fieldset-legend {
        position: absolute;
        top: 24px;
        font-size: 24px;
        font-weight: 700;
      }

      >.fieldset-wrapper>.form-checkboxes {
        max-height: 200px;
        overflow-y: auto;
      }
    }
    &.js-add-filter .form-checkboxes {
      padding: $space-single;
      border: 1px solid $color-border;
    }
  }

  .form-actions {
    position: absolute;
    bottom: 24px;
    left: 24px;
    right: 24px;
  }

  // Checkboxes.
  .form-checkboxes>.form-item {
    margin: $space-halve 0 0;
  }

  // Radio buttons.
  .select-filters {
    .form-radios {
      input[type="radio"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        margin: 0;
      }

      label.option {
        margin: 0;
        color: $color-text;
        font-weight: 700;
        padding: 8px 16px 8px 32px;
        background-image: url('../../images/icons/icon-document-zw.svg');
        background-repeat: no-repeat;
        background-position: 6px center;
        background-size: 16px auto;

        &:hover {
          cursor: pointer;
          color: $color-brand-1;
        }
      }
    }
  }

  // Options searchbox
  .filter-actions {
    display: flex;

    .form-text {
      flex-grow: 1;
    }

    .form-submit {
      @include button-var($button-type: 'secondary',
        $background-image: url('../../images/icons/icon-search.svg'),
        $background-align: 'right',
      );
    }
  }
}