/**
 * @file
 * FAQ styles.
 */

@import '../base/variables';
@import '../base/mixins';

.list--faq {
  details {
    padding: $space-single $space-quadruple $space-single 0;
    border-bottom: 2px solid $color-background-gray;
    p {
      margin: $space-single 0 0;
    }
  }
  details summary {
    position: relative;
    pointer-events: auto;
    font-weight: 700;
    margin-right: -$space-triple;
    cursor: pointer;
  }

  details summary::after {
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: $space-single;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    content: "";
    text-align: center;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6297 5.51844H8.48152V1.37029C8.48152 0.555474 7.81486 0.333252 7.00004 0.333252C6.18523 0.333252 5.51856 0.555474 5.51856 1.37029V5.51844H1.37041C0.555596 5.51844 0.333374 6.1851 0.333374 6.99992C0.333374 7.81473 0.555596 8.4814 1.37041 8.4814H5.51856V12.6295C5.51856 13.4444 6.18523 13.6666 7.00004 13.6666C7.81486 13.6666 8.48152 13.4444 8.48152 12.6295V8.4814H12.6297C13.4445 8.4814 13.6667 7.81473 13.6667 6.99992C13.6667 6.1851 13.4445 5.51844 12.6297 5.51844Z' fill='%23A90061'/%3E%3C/svg%3E%0A");
    background-size: initial;
    background-repeat: no-repeat;
    background-position: center;

    &:hover,
    &:focus {
      cursor: pointer;
      color: $color-brand-1;
    }
  }

  details[open] summary {
    margin-bottom: $space-single;
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='4' viewBox='0 0 14 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.48152 0.518555H12.6297C13.4445 0.518555 13.6667 1.18522 13.6667 2.00004C13.6667 2.81485 13.4445 3.48152 12.6297 3.48152H8.48152H5.51856H1.37041C0.555596 3.48152 0.333374 2.81485 0.333374 2.00004C0.333374 1.18522 0.555596 0.518555 1.37041 0.518555H5.51856H8.48152Z' fill='%23A90061'/%3E%3C/svg%3E%0A");
    }
  }
}