/**
 * @file
 * Footer frontpage styles.
 */

@import '../base/variables';
@import '../base/mixins';

.layout-footer {
  background-color: $color-site-bg;

  .region-footer {
    margin: 0 auto;
    padding: 40px 0;
    max-width: $site-footer-width;

    > .container {
      max-width: calc(100% - 32px);
    }

    @media all and (min-width: $bp-1128) {
      nav {
        @include grid-col($col: 4);
        margin-bottom: $space-single;
        padding: 0 $default-grid-gutter $space-single 0;

        &:last-child(1) {
          padding-right: 0;
        }
      }
    }
  }

  h2 {
    padding: 0 0 $space-halve;
    margin: 0 0 $space-single;
    font-size: 1rem;
    font-weight: 700;
    color: $color-text;
    border-bottom: 2px solid $color-border;
  }

  ul {
    list-style: none;
    margin: 0 0 $space-double;
    padding: 0;

    li {
      margin-bottom: $space-single;
    }

    a {
      color: $color-text;

      &:hover {
        color: $color-brand-1;
      }
    }
  }

  a[href^="http"] {
    position: relative;

    &:after {
      position: absolute;
      content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8906 12.7561H3.24479V5.11435H7.06767V3.2039H2.03421C1.65192 3.2039 1.33334 3.52231 1.33334 3.9044V13.9661C1.33334 14.3482 1.65192 14.6666 2.03421 14.6666H12.1011C12.4834 14.6666 12.802 14.3482 12.802 13.9661V8.93524H10.8906V12.7561ZM14.4586 1.54818C14.2674 1.35713 14.0763 1.29345 13.8214 1.35713L8.4694 1.93027C8.08711 1.99395 7.76854 2.31236 7.76854 2.69445C7.76854 3.07654 8.08711 3.39494 8.4694 3.45863L10.8268 3.64967L7.83225 6.6427C7.32253 7.15216 7.57739 7.66161 7.95968 8.0437C8.34197 8.42579 8.85169 8.68052 9.36141 8.17106L12.356 5.17803L12.5471 7.53425C12.6109 7.91634 12.9294 8.23474 13.3117 8.23474C13.694 8.23474 14.0126 7.91634 14.0763 7.53425L14.6497 2.18499C14.7134 1.93027 14.586 1.73922 14.4586 1.54818Z' fill='%23333333'/%3E%3C/svg%3E");
      display: flex;
      right: -23px;
      top: 2px;
    }
  }
}