/**
 * @file
 * Form styles.
 */

 @import '../base/variables';
 @import '../base/mixins';

 .form-item {
  margin-block: $space-single;
  .description {
    font-size: $base-font-size-small;
    line-height: $base-line-height-small;
  }
}
.form-element {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  font-family: $base-fonts-list;
}

[type="color"],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="file"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea {
  max-width: 100%; /* Fallback */
  max-width: -webkit-fill-available;
  margin-block: 0 $space-single;
  padding: $space-halve $space-single;
  border: 1px solid $color-border;
  font-family: $base-fonts-list;
  color: $color-text;
  font-size: 1rem;
  line-height: $base-line-height;
  -webkit-appearance: none;
  appearance: none;
}
[type="file"] {
  height: auto;
  width: inherit;
  padding-block: $space-single;
  margin-block: 0 $space-halve;
}

/**
 * Form element label.
 */

.form-item__label {
  display: table;
  margin: 0 0 4px;
  font-weight: 700;
  line-height: $base-line-height;
  font-size: $base-font-size;
  font-family: $base-fonts-list;
  color: $color-text;
}

.form-item__label--multiple-value-form {
  margin-top: 0;
  margin-bottom: 0;
  line-height: $base-line-height;
  font-size: $base-font-size;
  font-family: $base-fonts-list;
}

.form-item__label[for] {
  cursor: pointer;
}

.form-item__label.option {
  display: inline;
  font-weight: normal;
}

/* Label states. */
.form-item__label.has-error {
  color: $form-color-input-error;
}

.form-item__label.option.has-error {
  color: inherit;
}

.form-item__label.is-disabled {
  cursor: default;
  color: $color-textgray;
}

.form-item__label.form-required::after,
.fieldset__label.form-required::after {
  display: inline-block;
  margin-right: 0.15em;
  margin-left: 0.15em;
  content: "*";
  color: $form-color-input-error;
  font-size: 0.875rem;
}

/* File upload frontpage. */
.pt-doccess-initial-content-file-upload-form > form {
  background-color: #FFFFFF;
  padding: $space-double;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed $color-border;
}

//  Content moderation form
.content-moderation-entity-moderation-form {
  font-family: "RO Sans", sans-serif;
  font-size: .9rem;
}

/* Form actions */
.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: end;
  
  .node-document-edit-form & {
    flex-direction: row-reverse;
  }

}

