/**
 * @file
 * Headings styles.
 */

@import '../base/variables';
@import '../base/mixins';

%heading {
  color: $color-header;
  font-family: $base-fonts-list;
  line-height: $base-line-height;
  font-weight: 700;
  margin: 0 0 .5rem;
  padding: 0;
}

h1 {
  @extend %heading;
  font-size: 2rem; // 32px
}

h2 {
  @extend %heading;
  font-size: 1.5rem; // 24px
}

h3 {
  @extend %heading;
  font-size: 1.25rem; // 20px
}

h4 {
  @extend %heading;
  font-size: 1rem; // 16px
}

h5 {
  @extend %heading;
  font-size: 1rem; // 16px
  font-weight: 400;
}

@media all and (min-width: $bp-768) {

  h1 {
    font-size: 2.5rem; // 40px
  }

  h2 {
    font-size: 2rem; // 32px
  }

  h3 {
    font-size: 1.5rem; // 24px
  }

  h4 {
    font-size: 1rem; // 16px
  }

  h5 {
    font-size: 1rem; // 16px
    font-weight: 300;
  }

}