/**
 * @file
 * Image styles.
 */

@import '../base/variables';
@import '../base/mixins';
 
img {
    max-width: 100%;
    height: auto;
}
.paragraph--type--image img {
    margin-block: 0 $space-double;
}
