/**
 * @file
 * Lists styles.
 */

@import '../base/variables';
@import '../base/mixins';

main, footer {
  ul,
  ol,
  dl {
    font-family: $base-fonts-list;
    font-size: $base-font-size;
    line-height: $base-line-height;
    max-width: $grid-width;
    margin-block: 0 $space-double;
    padding: 0 0 0 $space-double;
    ul,
    ol,
    dl {
      margin-block: 0;
      padding: 0;
    }
  }

  dl {
    margin-block: 0;
    padding: 0;
    >dt {
      font-weight: 700;
      margin: 0;
      padding: 0;
    }
    >dd {
      margin: 0;
      padding: 0;
    }
  }
}
