/**
 * @file
 * Loginform styles.
 */

@import '../base/variables';
@import '../base/mixins';


.path-user {
  h1.page-title {
    color: $color-brand-1;
    font-size: 2rem;
  }
  .layout-content.grid {
    padding: 20vh 16px;
  }
  .layout-main {
    background: #FFFFFF;
    @media all and (min-width: $bp-1128) {
      background: linear-gradient(90deg, #FFFFFF 50%, $color-brand-3 50%);
      .container {
        max-width: $bp-1128;
        background-image: url('../../images/login.svg');
        background-position: right 60px center;
        background-repeat: no-repeat;

      }
    }
  }
  
  .user-menu {
    background-color: $color-brand-3;
    .user--login a {
      color: $color-text;
    }
  }
}

/* Form */
.user-login-form,
.user-pass {
  width: 100%;
  margin: 0;
  padding: 0;
  @media all and (min-width: $bp-1128) {
    width: 456px;
  }

  input {
    margin-block: 0;
    width: 100%;
    max-width: calc(100% - $space-double);
    &:focus-visible {
      outline: none;
      border-radius: 0;
      border: 1px solid $color-brand-1;
    }
    &::placeholder {
      font-style: italic;
    }
  }
  .form-item {
    max-width: 100%;
  }

  .form-item__description {
    display: none;
  }

  label {
    font-weight: 700;
    color: $color-text;
  }
  .form-actions {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

/* Form actions */
input.form-submit {
  margin: 0;
  color: $button-text;
  width: fit-content;
  border-radius: 0;
  padding-left: $space-single;
  padding-right: 48px;
  background-image: url('../../images/icons/icon-arrow-right.svg');
  background-repeat: no-repeat;
  background-color: $button-bg;
  background-position: calc(100% - 16px) center;

  &:hover {
    cursor: pointer;
    color: $button-text-hover;
    background-color: $button-bg-hover;
  }
}
