/**
 * @file
 * Main menu styles.
 */

 @import '../base/variables';
 @import '../base/mixins';
 
 .menu-container {
   display: flex;
 }
 
 .button.button--mobile-nav {
   padding: $space-single;
   color: white;
   font-weight: 700;
 
   &:hover {
     color: $color-text;
     background-color: $color-brand-3;
   }
 
   .mobile-nav__icon {
     width: 16px;
     height: 15px;
     background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 0H0V3H14.5L16 0Z' fill='white'/%3E%3Cpath d='M0 9H14.5L16 6H0V9Z' fill='white'/%3E%3Cpath d='M0 15H14.5L16 12H0V15Z' fill='white'/%3E%3C/svg%3E%0A");
     background-repeat: no-repeat;
     background-position: center;
 
     &:hover {
       background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 0H0V3H14.5L16 0Z' fill='#333333'/%3E%3Cpath d='M0 9H14.5L16 6H0V9Z' fill='#333333'/%3E%3Cpath d='M0 15H14.5L16 12H0V15Z' fill='#333333'/%3E%3C/svg%3E%0A");
     }
   }
 
   .mobile-nav__label {
     margin-left: $space-halve;
   }
 }
 
 .mobile-nav-open .button.button--mobile-nav {
   color: $color-text;
   background-color: $color-brand-3;
 }
 
 .layout-header__footer>.container {
   position: relative;
 }
 
 .js-main-menu {
   display: none;
 }
 
 .mobile-nav-open .js-main-menu {
   width: 100%;
   display: block;
   position: absolute;
   left: 0;
   top: 56px;
   z-index: 1;
 }
 
 .menu--main {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    list-style: none;
    margin: 0;
    padding: 0;
  
    .menu-item {
      display: flex;
      align-items: stretch;
      padding: 0;
      font-size: 1rem;
      font-weight: 700;
  
      a {
        width: 100%;
        display: flex;
        align-items: center;
        padding: $space-single;
        color: white;
        text-decoration: none;
        background-color: $color-brand-1;
        border-bottom: 1px solid $color-brand-3;
  
        &:hover {
          color: #ffffff;
          background-color: $color-brand-2;
        }
  
        &.is-active {
          color: $color-text;
          background-color: $color-brand-3;
        }
      }
    }
  }
}
 
 @media all and (min-width: $bp-768) {
  .js-main-menu {
    display: inherit;
    width: inherit;
  }

  .button.button--mobile-nav {
    display: none;
  }
  .menu--main {
    .menu {
      flex-direction: row;

      .menu-item a {
        width: inherit;
        border-bottom: none;
      }
    }
  }
}
 
 @media all and (min-width: $bp-1440) {
   .layout-header__footer>.container {
     max-width: 1408px;
   }
 
   nav.menu--main {
     margin-left: $space-single;
   }
 }
 