/**
 * @file
 * User menu styles.
 */

@import '../base/variables';
@import '../base/mixins';

/* User menu */
.user-menu {
  padding: 0 0 0 $space-single;
  z-index: 2;

  .menu.js-user-menu {
    display: block;
    position: absolute;
    right: -8px;
    top: 100%;
    width: 190px;
    max-width: 100%;
    z-index: 2;
    &[hidden] {
    display: none;
    }
  }

  .user--profile {

    button {
      @include buttonreset();
      display: flex;
      height: 56px;
      position: relative;
      align-items: center;
      justify-content: flex-end;
      color: #fff;
      cursor: pointer;
      &:hover {
        background-color: $color-brand-3;
        color: $color-text;
      }
    }
  }

  .user--login {
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: flex-end;

    a {
      display: inline-block;
      color: #fff;
      font-weight: 700;
      text-decoration: underline;
    }
  }

  .user__organisation {
    margin-left: $space-halve;
  }

  .user__name {
    white-space: nowrap;
    font-weight: 700;
    text-decoration: underline;
    margin-left: $space-halve;
  }

  .menu--user {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .menu-item {
    display: flex;
    align-items: stretch;
    padding: 0;
    font-size: 1rem;
    font-weight: 700;

    a {
      width: 100%;
      display: flex;
      align-items: center;
      padding: $space-single;
      background-color: #fff;
      color: $color-text;
      text-decoration: none;
      border-bottom: 1px solid #ccc;

      &:hover {
        color: $color-text;
        background-color: $color-background-gray;
      }

      &.is-active {
        color: $color-text;
        background-color: $color-brand-3;
      }
    }
    a[href='/user'] {
      padding-left: 40px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.76283 1.8825C4.4895 2.30188 4.46083 2.9475 4.46342 3.55643C4.46592 4.14086 4.45158 4.69154 4.50333 4.97578C4.10333 4.95639 3.93592 5.27824 3.99758 6.36839C4.05233 7.33476 4.43708 7.54336 4.66667 7.67617C4.86933 8.65341 5.25967 9.57891 5.95108 10.2788L5.95258 10.2686C5.90992 10.5227 5.85608 10.7928 5.78658 11.0612C4.83475 11.3963 2.49958 12.269 1.81592 12.9921C0.954083 13.9029 0.5 17.3333 0.5 17.3333H15.5C15.5 17.3333 15.0459 13.9029 14.1841 12.9921C13.5017 12.2704 11.174 11.3997 10.2188 11.0631C10.14 10.797 10.0813 10.5299 10.0367 10.2788C10.7282 9.57891 11.1307 8.65341 11.3333 7.67617C11.5629 7.54336 11.9355 7.33476 11.9902 6.36839C12.0519 5.27824 11.8845 4.95639 11.4845 4.97578C11.5359 4.69363 11.5401 4.15766 11.5361 3.58267C11.5317 2.97483 11.5032 2.32345 11.2583 1.8825C10.9542 1.33475 10.5269 1.01349 9.69358 1.21148C8.96408 0.859715 8.19567 0.481789 6.90992 0.76703C5.46092 1.08846 4.94908 1.59685 4.76283 1.8825Z' fill='%23333333'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: $space-single center;
    }

    a[href*='/user/logout'] {
      padding-left: 40px;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5543 0.333344H1.56584C1.08645 0.333344 0.666992 0.75001 0.666992 1.2262V11.9405C0.666992 12.4167 1.08645 12.8333 1.56584 12.8333H10.5543C11.0337 12.8333 11.4531 12.4167 11.4531 11.9405V9.26192H9.65546V11.0476H2.46469V2.11906H9.65546V3.90477H11.4531V1.2262C11.4531 0.75001 11.0337 0.333344 10.5543 0.333344ZM12.8313 9.73813C12.5916 9.50003 12.5916 9.14289 12.7714 8.90479L13.9699 7.47622H8.75654C8.15731 7.47622 8.03747 7.00003 8.03747 6.58336C8.03747 6.10717 8.15731 5.69051 8.75654 5.69051H14.0298L12.7714 4.26194C12.5916 4.02384 12.5916 3.6667 12.8313 3.4286C13.071 3.19051 13.4305 3.19051 13.6702 3.36908L17.0859 6.10717C17.4454 6.40479 17.3855 6.82146 17.0859 7.05956L13.6702 9.79765C13.4305 9.97622 13.071 9.97622 12.8313 9.73813Z' fill='%23333333'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: $space-single center;
    }
  }
}

@media all and (min-width: $bp-1440) {
  .user-menu {
    margin-right: -8px;
  }
}

.menu--account {
  position: unset;
}