/**
 * @file
 * Messages styles.
 */

@import '../base/variables';
@import '../base/mixins';

.messages {
  max-width: $grid-width;
  font-family: $base-fonts-list; 
  font-size: $base-font-size;
  margin-block: $space-single;
  padding: $space-single $space-single $space-single 54px;
  background-position: $space-single center;
  background-repeat: no-repeat;
  position: relative;
  word-wrap: break-word;

  &--error {
    background-image: url('data:image/svg+xml,%3Csvg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M12.2243 22C17.8503 22 22.4112 17.5228 22.4112 12C22.4112 6.47715 17.8503 2 12.2243 2C6.59819 2 2.03735 6.47715 2.03735 12C2.03735 17.5228 6.59819 22 12.2243 22Z" fill="%23D52B1E"/%3E%3Cpath d="M15.2512 7.91422L12.2242 10.5523L9.19728 7.91422C8.87712 7.63803 8.39203 7.64755 8.08157 7.93326C7.79051 8.23803 7.78081 8.70469 8.06217 9.01898L10.7496 11.9999L8.06217 14.9714C7.78081 15.2856 7.78081 15.7618 8.08157 16.0571C8.39203 16.3428 8.86742 16.3523 9.18758 16.0761L12.2242 13.4476L15.2512 16.0856C15.5714 16.3618 16.0565 16.3523 16.3572 16.0666C16.6483 15.7618 16.658 15.2952 16.3766 14.9809L13.6989 11.9999L16.3863 9.0285C16.6677 8.71422 16.6677 8.23803 16.3669 7.94279C16.0565 7.64755 15.5714 7.63803 15.2512 7.91422ZM12.2242 12.0095L12.2145 11.9999L12.2242 11.9904L12.234 11.9809L12.2437 11.9904L12.2534 11.9999L12.2242 12.0095Z" fill="white"/%3E%3C/svg%3E%0A');
    background-color: $messages-error;
  }
  &--fout {
    background-image: url('data:image/svg+xml,%3Csvg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M12.2243 22C17.8503 22 22.4112 17.5228 22.4112 12C22.4112 6.47715 17.8503 2 12.2243 2C6.59819 2 2.03735 6.47715 2.03735 12C2.03735 17.5228 6.59819 22 12.2243 22Z" fill="%23D52B1E"/%3E%3Cpath d="M15.2512 7.91422L12.2242 10.5523L9.19728 7.91422C8.87712 7.63803 8.39203 7.64755 8.08157 7.93326C7.79051 8.23803 7.78081 8.70469 8.06217 9.01898L10.7496 11.9999L8.06217 14.9714C7.78081 15.2856 7.78081 15.7618 8.08157 16.0571C8.39203 16.3428 8.86742 16.3523 9.18758 16.0761L12.2242 13.4476L15.2512 16.0856C15.5714 16.3618 16.0565 16.3523 16.3572 16.0666C16.6483 15.7618 16.658 15.2952 16.3766 14.9809L13.6989 11.9999L16.3863 9.0285C16.6677 8.71422 16.6677 8.23803 16.3669 7.94279C16.0565 7.64755 15.5714 7.63803 15.2512 7.91422ZM12.2242 12.0095L12.2145 11.9999L12.2242 11.9904L12.234 11.9809L12.2437 11.9904L12.2534 11.9999L12.2242 12.0095Z" fill="white"/%3E%3C/svg%3E%0A');
    background-color: $messages-error;
  }
  &--status {
    background-image: url('data:image/svg+xml,%3Csvg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M21.9682 4.17386C21.8152 3.27168 21.116 2.58529 20.1967 2.43488C17.5392 2 13.11 2 12.2243 2C11.3385 2 6.90931 2 4.25185 2.43488C3.33258 2.58529 2.63336 3.27168 2.48036 4.17386C2.03735 6.78256 2.03735 11.1305 2.03735 12C2.03735 12.8695 2.03735 17.2174 2.48036 19.8261C2.63336 20.7283 3.33258 21.4147 4.25185 21.5651C6.90931 22 11.3385 22 12.2243 22C13.11 22 17.5392 22 20.1967 21.5651C21.116 21.4147 21.8152 20.7283 21.9682 19.8261C22.4112 17.2174 22.4112 12.8695 22.4112 12C22.4112 9.38999 22.4112 6.78256 21.9682 4.17386ZM13.5617 19.0022H10.6352L10.8868 12.8753V9.37419H13.5617V19.0022ZM12.2345 7.62365C11.2351 7.62365 10.6639 7.07512 10.6639 6.07311C10.6639 5.222 11.1942 4.56021 12.2141 4.56021C13.2134 4.56021 13.7846 5.08953 13.7846 6.07311C13.7846 6.94282 13.2543 7.62365 12.2345 7.62365Z" fill="%23007BC7"/%3E%3Cpath d="M13.5616 19.002H10.635L10.8867 12.8751V9.37404H13.5616V19.002ZM12.2343 7.6235C11.235 7.6235 10.6638 7.07497 10.6638 6.07296C10.6638 5.22185 11.1941 4.56006 12.2139 4.56006C13.2133 4.56006 13.7845 5.08938 13.7845 6.07296C13.7845 6.94267 13.2542 7.6235 12.2343 7.6235Z" fill="white"/%3E%3C/svg%3E%0A');
    background-color: $messages-status;
  }
  &--warning {
    background-image: url('data:image/svg+xml,%3Csvg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M22.192 18.5492L13.687 3.83552C13.0476 2.72149 11.4096 2.72149 10.7614 3.83552L2.25641 18.5492C1.62575 19.646 2.43159 21 3.71917 21H20.738C22.0168 21 22.8227 19.646 22.192 18.5492Z" fill="%23FFB612"/%3E%3Cpath d="M10.9451 16.6723C10.9451 16.2953 11.0502 15.9697 11.2604 15.7126C11.4706 15.4469 11.7859 15.3184 12.2151 15.3184C12.6356 15.3184 12.9597 15.4384 13.1786 15.6612C13.3976 15.8925 13.5115 16.2267 13.5115 16.6723C13.5115 17.0408 13.4064 17.3579 13.1961 17.6064C12.9859 17.8549 12.6706 17.9835 12.2414 17.9835C11.821 17.9835 11.4969 17.8721 11.2779 17.6493C11.0589 17.435 10.9451 17.1094 10.9451 16.6723ZM11.2166 7.87158L13.3888 7.7002L13.1961 12.4219V14.6757L11.2078 14.7185V7.87158H11.2166Z" fill="%23333333"/%3E%3C/svg%3E%0A');
    background-color: $messages-warning;
  }
  &--waarschuwing {
    background-image: url('data:image/svg+xml,%3Csvg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M22.192 18.5492L13.687 3.83552C13.0476 2.72149 11.4096 2.72149 10.7614 3.83552L2.25641 18.5492C1.62575 19.646 2.43159 21 3.71917 21H20.738C22.0168 21 22.8227 19.646 22.192 18.5492Z" fill="%23FFB612"/%3E%3Cpath d="M10.9451 16.6723C10.9451 16.2953 11.0502 15.9697 11.2604 15.7126C11.4706 15.4469 11.7859 15.3184 12.2151 15.3184C12.6356 15.3184 12.9597 15.4384 13.1786 15.6612C13.3976 15.8925 13.5115 16.2267 13.5115 16.6723C13.5115 17.0408 13.4064 17.3579 13.1961 17.6064C12.9859 17.8549 12.6706 17.9835 12.2414 17.9835C11.821 17.9835 11.4969 17.8721 11.2779 17.6493C11.0589 17.435 10.9451 17.1094 10.9451 16.6723ZM11.2166 7.87158L13.3888 7.7002L13.1961 12.4219V14.6757L11.2078 14.7185V7.87158H11.2166Z" fill="%23333333"/%3E%3C/svg%3E%0A');
    background-color: $messages-warning;
  }
  &__list {
    margin-bottom: 0;
  }
}
