/**
 * @file
 * Node edit form meta block styles.
 */

 @import '../base/variables';
 @import '../base/mixins';
 
 .entity-meta__revision {
  display: none;
}

.layout-region--node-secondary {
  .entity-meta__header {
    .form-item__label {
      display: inline;
      margin-right: 4px;
    }
  }
}
