/* The Modal (background) */
.modal--facet {
    // display: none;
    // position: fixed;
    // z-index: 999999;
    // padding-top: 100px;
    // inset: 0;
    // width: 100%;
    // height: 100%;
    // overflow: auto;
    // background-color: rgba(0, 0, 0, 0.7);
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fff;
    border: 1px solid #888;
    margin: 40px auto;
    padding: 20px;
    width: 80%;
    position: relative;
  }
  
  /* The Close Button */
  .modal-block-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .modal-block-close:hover,
  .modal-block-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .img-wrapper > img {
    padding: 24px;
    width: 24%;
  }
  
  span.modal-block-close {
    font-size: 24px;
    background: #0288d1;
    color: #fff;
    line-height: 25px;
    position: absolute;
    right: -5px;
    text-align: center;
    top: -8px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
    margin: 0;
  }

/* Background overlay */
.ui-widget-overlay {
  opacity: 0.7;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1259;
}
.ui-dialog {
  z-index: 1260;
}

  