/**
 * @file
 * Pager styles.
 */

@import '../base/variables';
@import '../base/mixins';
 
 .pager {
  margin: 0 0 $default-grid-gutter;
}

.pager__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  text-align: center;
  font-weight: bold;
}

[dir="rtl"] .pager__items {
  margin: var(--space-m) 0;
}

.pager__item {
  display: inline-block;
  margin-right: calc($space-halve / 2);
  margin-left: calc($space-halve / 2);
  vertical-align: top;
}

.pager__link,
.pager__item--current {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  min-width: 2.5rem;
  height: 2.5rem;
  padding: $space-halve $space-single;
  text-decoration: none;
  color: $color-link-text;
  background: #ffffff; /* Make sure that the text is visible on dark background. */
  line-height: 1;
}

.pager__link:hover,
.pager__link:focus,
.pager__link:active {
  text-decoration: none;
}

.pager__link:hover,
.pager__link.is-active:hover {
  color: $color-brand-1;
  background: transparent;
}

/* Active number link. */
.pager__link.is-active,
.pager__item--current {
  color: $color-brand-1;
  background: transparent;
}

.pager__item--first .pager__link::before {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.47491 13.1464C8.02252 12.5908 8.24156 11.8684 7.63919 11.3127L3.42258 6.97853L7.63919 2.69989C8.1868 2.14423 8.02252 1.42186 7.47491 0.866192C6.92729 0.310525 6.2154 0.0882582 5.66779 0.699492L0.410709 6.0339C-0.136903 6.58956 -0.136903 7.47863 0.410709 8.0343L5.66779 13.3687C6.2154 13.8688 6.92729 13.7021 7.47491 13.1464Z' fill='%23A90061'/%3E%3C/svg%3E%0A");
}

.pager__item--previous .pager__link::before {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.47491 13.1464C8.02252 12.5908 8.24156 11.8684 7.63919 11.3127L3.42258 6.97853L7.63919 2.69989C8.1868 2.14423 8.02252 1.42186 7.47491 0.866192C6.92729 0.310525 6.2154 0.0882582 5.66779 0.699492L0.410709 6.0339C-0.136903 6.58956 -0.136903 7.47863 0.410709 8.0343L5.66779 13.3687C6.2154 13.8688 6.92729 13.7021 7.47491 13.1464Z' fill='%23A90061'/%3E%3C/svg%3E%0A");
}

.pager__item--next .pager__link::after {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.47491 13.1464C8.02252 12.5908 8.24156 11.8684 7.63919 11.3127L3.42258 6.97853L7.63919 2.69989C8.1868 2.14423 8.02252 1.42186 7.47491 0.866192C6.92729 0.310525 6.2154 0.0882582 5.66779 0.699492L0.410709 6.0339C-0.136903 6.58956 -0.136903 7.47863 0.410709 8.0343L5.66779 13.3687C6.2154 13.8688 6.92729 13.7021 7.47491 13.1464Z' fill='%23A90061'/%3E%3C/svg%3E%0A");
  transform: rotate(180deg);
}

.pager__item--last .pager__link::after {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.47491 13.1464C8.02252 12.5908 8.24156 11.8684 7.63919 11.3127L3.42258 6.97853L7.63919 2.69989C8.1868 2.14423 8.02252 1.42186 7.47491 0.866192C6.92729 0.310525 6.2154 0.0882582 5.66779 0.699492L0.410709 6.0339C-0.136903 6.58956 -0.136903 7.47863 0.410709 8.0343L5.66779 13.3687C6.2154 13.8688 6.92729 13.7021 7.47491 13.1464Z' fill='%23A90061'/%3E%3C/svg%3E%0A");
  transform: rotate(180deg);
}

.pager__item--first .pager__link::before,
.pager__item--previous .pager__link::before,
.pager__item--next .pager__link::after,
.pager__item--last .pager__link::after {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

[dir="rtl"] .pager__item--first .pager__link::before,
[dir="rtl"] .pager__item--previous .pager__link::before,
[dir="rtl"] .pager__item--next .pager__link::after,
[dir="rtl"] .pager__item--last .pager__link::after {
  transform: scaleX(-1);
}

.pager__item--mini {
  margin-right: calc(var(--space-m) / 2);
  margin-left: calc(var(--space-m) / 2);
}

.pager__link--mini {
  border-radius: 50%;
}

/**
 * On the mini pager, remove margins for the previous and next icons.
 * Margins are not needed here as there is no accompanying text.
 */

.pager__link--mini::before {
  margin-right: 0;
  margin-left: 0;
}

.pager__item-title--backwards {
  margin-left: 0.5rem; /* LTR */
}


.pager__item-title--forward {
  margin-right: 0.5rem; /* LTR */
}
