/**
 * @file
 * Paragraphs edit styles.
 */

 @import '../base/variables';
 @import '../base/mixins';
 

 .paragraphs-tabs-wrapper {
  --paragraph-top-height: 56px;
}

.paragraph-type-label {
  font-weight: 700;
  color: $color-text;
}
.paragraphs-dropdown-actions {
  .button {
    color: $color-brand-1;
    &:hover {
      color: white;
    }
  }
}
a.tabledrag-handle .handle {
  width: 16px;
  height: 16px;
  background-image: url("../../images/icons/move.svg");
  background-repeat: no-repeat;
  background-position: center;
}
a.tabledrag-handle:hover .handle,
a.tabledrag-handle:focus .handle {
  transform: scale(1.2);
  background-image: url("../../images/icons/move.svg");
}

/* Edit paragraphs */

.field--widget-paragraphs {

  .js-form-item {
    width: 100%;
    max-width: 100%;
  }
  th.field-label {
    padding: 0;
  }
  .paragraph-top {
    position: relative;
    height: calc(var(--paragraph-top-height) - 20px);
    background-color: transparent;
    transition: background-color 0.2s ease;
    margin: -10px -24px -10px -64px;
    padding: 10px 24px 10px 64px;
    align-items: center;
    &:hover,
    &:focus {
      background-color: $color-site-bg;
    }
  }
}

// Hide the expand button background and the make
// the header collaps on click.
.paragraphs-actions > .button {
  &.paragraphs-icon-button-edit {
    position: absolute;
    width: calc(100% - 48px);
    height: var(--paragraph-top-height);
    margin: 0;
    padding: 0;
    inset: 0;
    background-color: transparent;
    color: transparent;
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
} 
