/**
 * @file
 * Table styles.
 */

@import '../base/variables';
@import '../base/mixins';
 
.layout-content {
  table {
    width: 100%;
    max-width: 100%;
    margin-block: 0 $space-double;
    border-collapse: collapse;
    background-color: #FFFFFF;
    th, td {
      margin-block: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      vertical-align: top;
      text-align: start;
      padding: $space-single;
      border-collapse: collapse;
      border-block-end: 1px solid $color-border;
      a {
        color: $color-text;
        text-decoration: none;
      }
    }
    th {
      font-weight: 700;
      color: $color-text;
      position: relative;
      box-sizing: border-box;
    }
  }
}

.sticky-header {
  min-width: 0;
}

caption {
  text-align: left;
}

/**
 * Table sort.
 */

.sortable-heading {
  padding: 0 $default-grid-gutter;
}

.sortable-heading > a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.sortable-heading > a::before {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 1rem;
  bottom: 0;
  left: 1rem;
  display: block;
  content: "";
  border-bottom: 0.125rem solid transparent;
}

.sortable-heading > a::after {
  position: absolute;
  top: 50%;
  height: 1rem;
  margin-top: -0.5rem;
  margin-left: $space-halve;
  content: "";
  opacity: 0.5;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8'%3e%3cpath d='M1.75.25v1.5h10.5V.25zm0 3v1.5h7.5v-1.5zm0 3v1.5h4.5v-1.5z' fill='%23000f33'/%3e%3c/svg%3e") no-repeat 50% 50%;
  background-size: contain;
}

/* Sortable cell's link focus/hover state. */

.sortable-heading > a:focus,
.sortable-heading > a:hover {
  text-decoration: none;
}

.sortable-heading > a:focus::before,
.sortable-heading > a:hover::before {
  border-color: inherit;
}

.sortable-heading > a:focus::after,
.sortable-heading > a:hover::after {
  opacity: 1;
}

/* Sortable cell's active state. */

.sortable-heading.is-active > a::after {
  content: none;
}

td .item-list ul {
  margin: 0;
}

td.is-active {
  background: none;
}

/**
 * Target every .form-element input that parent is a form-item of a table cell.
 * This ignores the filter format select of the textarea editor.
 */

td > .form-item > .form-element,
td > .ajax-new-content > .form-item > .form-element {
  width: 100%;
}

/* Win over table-file-multiple-widget. */

th.is-disabled.is-disabled {
  color: $color-textgray;
}

/* Force browsers to calculate the width of a 'select all' <th> element. */

th.select-all {
  width: 1px;
}

/**
 * Captions.
 */

.caption {
  margin-bottom: 1.25rem; /* 20px */
}

tfoot {
  font-weight: bold;
}

tfoot tr:last-child {
  border-bottom: 0;
}

tfoot tr:first-child td {
  border-top: 1px solid $color-border;
}

/**
 * Responsive table cells.
 */

th.priority-low,
th.priority-medium,
td.priority-low,
td.priority-medium {
  display: none;
}

@media screen and (min-width: 38em) {
  th.priority-medium,
  td.priority-medium {
    display: table-cell;
  }
}

@media screen and (min-width: 60em) {
  th.priority-low,
  td.priority-low {
    display: table-cell;
  }
}

.tabledrag-toggle-weight-wrapper {
  margin-top: var(--space-l);
  line-height: calc(28rem / 16);
}

.tabledrag-toggle-weight-wrapper + table,
.tabledrag-toggle-weight-wrapper + .tableresponsive-toggle-columns + table {
  margin-top: 0;
}
