/**
 * @file
 * Edit tabs styles.
 */

@import '../base/variables';
@import '../base/mixins';
 
/**
 * @file
 * Visual styles for tabs.
 */

.tabs-wrapper {
  border-bottom: 1px solid $color-site-bg;
}
ul.tabs {
  display: flex;
  max-width: $grid-width;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.tabs {

  &__tab {
    & .is-active {
      background: $color-site-bg;
    }
    >a {
      font-family: "Source Sans Pro", "Lucida Grande", Verdana, sans-serif;
      font-size: small;
      color: $color-text;
      border: 1px solid $color-site-bg;
      display: flex;
      flex-grow: 1;
      height: 39px;
      padding: 0 $space-single;
      align-items: center;
      text-decoration: none;
    }

    a:focus,
    a:hover {
      color: $color-link-text;
      background-color: #f5f5f5;
    }
  }
}