/**
 * @file
 * Text paragraph styles.
 */

@import '../base/variables';
@import '../base/mixins';
 
p {
  max-width: $grid-width;
  margin-block: 0 $space-double;
  font-family: $base-fonts-list;
}
p > strong,
.intro p {
  font-weight: 700;
}
