/**
 * @file
 * Node edit form Validation block styles.
 */

 @import '../base/variables';
 @import '../base/mixins';
 
/* Validation message for paragraphs. */
.field--name-field-validation {
  .field__label {
    display: none;
  }
}

.field--name-field-validation-messages .field__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color-border;

  >.messages {
    background-color: transparent;
  }
}

/* Accessibility ovewrview block */
.accessibility-overview {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .messages {
    margin: $space-halve 0;
    padding: 0 0 0 32px;
    background-position: 0px center;

    &--error,
    &--warning,
    &--status {
      background-color: transparent;
    }
  }
}
