/* Colors for Waterschap Hollandse Delta */
$color-brand-1: #462E87;
$color-brand-2: #06111E;
$color-brand-3: #E3E0ED;

/* Branding */
$logo-alignment: start;

/* Fonts */
$base-fonts-list: 'Verdana', sans-serif;
$base-font-weight: 400;

/* Logo alignment */
