/* Colors for default theme */
$color-brand-1: #A90061;
$color-brand-2: #760044;
$color-brand-3: #E5B3D0;
$color-site-bg: #F5F5F5;
$color-site-bg-content: none;
$default-grid-top: 48px !default;
$default-grid-inner: 0;