{#
/**
 * @file
 * Default theme implementation for the copy-to-clipboard functionality .
 *
 * Available variables:
 * - label: The label of the button.
 * - attributes: HTML attributes for the container element.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('pt_admin_theme/clipboard') }}

<button{{ attributes }}>{{ label }}</button>
