{#
/**
 * @file
 * Theme override for the hard-coded content of the front page.
 *
 * Available variables:
 * - attributes: HTML attributes for the container element.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('pt_admin_theme/frontpage') }}

<div{{ attributes.addClass('frontpage-content') }}>

  <section class="frontpage-section section--jumbotron" id="nldoc">
    <div class="container">
      <div class="grid">
        <div class="col col-6">
        <h1 class="page-title">De toegankelijke oplossing voor digitale documenten.</h1>
          <p>Herken je dat? Je website of app is al heel toegankelijk, maar die pdf'jes en andere documenten blijven een probleem.
          Dan is NLdoc iets voor jou. Met NLdoc zet je elk document eenvoudig om in een toegankelijke online versie.
          Bruikbaar voor iedereen en op alle devices. Zo sluit je niemand buiten. Bovendien voldoen je documenten dan
          aan de wet voor digitale toegankelijkheid. Handig toch?</p>
          <p>
            <a href="mailto:digitoegankelijk@logius.nl" class="button button--contact">Blijf op de hoogte!</a>
          </p>
        </div>
        <div class="col col-6">
          <img src="/{{ directory }}/images/front/front-main.svg" alt="Afbeelding toegankelijkheid" class="main-image hide-mobile">
        </div>
      </div>
    </div>
  </section>

  <section class="frontpage-section section--clean">
    <div class="container">
      <div class="grid">
        <div class="col col-8">
          <h2 class="section--title">De voordelen van NLdoc</h2>
          <p>Met NLdoc maak je zonder moeite een toegankelijke versie van een ontoegankelijk document. Ook als je geen expert bent.</p>
        </div>
      </div>
      <div class="grid">
        <div class="col col-4 col-img-text">
          <img src="/{{ directory }}/images/front/front-section-2-1.svg" alt="Afbeelding magie">
          <h3>Een beetje magie</h3>
          <p>NLdoc zet jouw documenten automatisch om in toegankelijke html. Natuurlijk is WCAG 2.1 daarbij het uitgangspunt.</p>
        </div>
        <div class="col col-4 col-img-text">
          <img src="/{{ directory }}/images/front/front-section-2-2.svg" alt="Afbeelding assistent">
          <h3>Handige assistent</h3>
          <p>Soms heeft NLdoc jouw input nodig. Met de simpele vraag- en antwoordassistent geef je snel informatie over de structuur van je document.</p>
        </div>
        <div class="col col-4 col-img-text">
          <img src="/{{ directory }}/images/front/front-section-2-3.svg" alt="Afbeelding online">
          <h3>Online beschikbaar</h3>
          <p>Publiceer je nieuwe document eenvoudig op de online omgeving voor jouw organisatie.
          Deel en bekijk documenten en overzichten op elk device.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="frontpage-section section--alternative">
    <div class="container">
      <div class="grid">
        <div class="col col-4">
          <h2 class="section--title">Bestandsformaten</h2>
          <p>NLdoc kan met steeds meer bestanden overweg. Daar werken we hard aan.
          Deze bestandsformaten worden al ondersteund, of hebben onze prioriteit.</p>
        </div>
        <div class="col col-8">
          <ul class="list list--documents">
            <li><span class="icon icon--check"></span>.doc(x) <span class="label label--success">Beschikbaar</span></li>
            <li><span class="icon icon--loader"></span>.pdf <span class="label label--warning">Onderzoeksfase</span></li>
            <li><span class="icon icon--loader-circle"></span>.odt <span class="label">Backlog</span></li>
            <li><span class="icon icon--loader-circle"></span>.ppt(x) <span class="label">Backlog</span></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="frontpage-section section--clean" id="initiatief">
    <div class="container container__top">
      <div class="grid">
        <div class="col col-8 col__mar-sm">
          <h2 class="section--title">Initiatief van Logius</h2>
          <p>Overheidsorganisaties worstelen met de toegankelijkheid van hun pdf's. Dat zien we bij Logius al jaren,
          vanuit onze rol als kenniscentrum Digitale Toegankelijkheid. En door de Wet open overheid (Woo) zullen er
          alleen maar meer pdf-documenten komen. Daarom neemt Logius met NLdoc het initiatief om dit probleem vanuit
          een nieuwe invalshoek op te lossen.</p>
        </div>
      </div>
      <div class="grid">
        <div class="col col-6 col-img-text col-border__bottom">
          <img src="/{{ directory }}/images/icons/icon-proof-of-concept.svg" alt="Afbeelding Proof of concept">
          <h3>Proof of concept</h3>
          <p>In 2022 ontwikkelde Logius een proof of concept voor NLdoc. Met succes! Het werkende prototype toont aan dat
          ontoegankelijke bronbestanden getransformeerd kunnen worden tot toegankelijke html.</p>
        </div>
        <div class="col col-6 col-img-text col-border__bottom">
          <img src="/{{ directory }}/images/icons/icon-next-step.svg" alt="Afbeelding de volgende stap">
          <h3>De volgende stap</h3>
          <p>Gaat NLdoc het pdf-probleem de wereld uit helpen? Wij hebben goede hoop. Maar we zijn er nog lang niet.
          De komende periode gaan wij het systeem verder uitbouwen, testen en verbeteren.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="frontpage-section section--clean" id="faq">
    <div class="container container__bottom">
      <div class="grid">
        <div class="col col-4">
          <h2 class="section--title">Veelgestelde vragen</h2>
          <p>Heb je nog vragen over NLdoc? Dat begrijpen we. Een aantal vragen hebben we alvast voor je beantwoord.</p>
          <p>Staat je vraag er niet tussen? <a href="mailto:digitoegankelijk@logius.nl">Neem contact op!</a></p>
        </div>
        <div class="col col-8">
          <ul class="list list--faq">
            <li>
              <details>
                <summary>Hoe kan ik NLdoc gebruiken?</summary>
                We begrijpen dat je NLdoc graag wilt uitproberen! Nog even geduld. NLdoc is namelijk nog volop in ontwikkeling. Het is een innovatieproject van het ministerie van Binnenlandse Zaken en Koninkrijksrelaties, bedoeld om vernieuwing op gang te brengen. Vanaf het derde kwartaal van 2023 vragen wij enkele overheidsorganisaties om NLdoc uit te proberen, zodat wij het systeem verder kunnen verbeteren. Wil je hiervan op de hoogte blijven? Meld je dan aan voor de nieuwsbrief.
              </details>
            </li>
            <li>
              <details>
                <summary>Welke documenten kan ik met NLdoc omzetten naar een toegankelijke versie?</summary>
                <p>Op dit moment werken wij aan de omzetting van de volgende bestandsformaten: doc(x), pdf, odt, md, ppt(x) en xls(x). De meeste overheidspublicaties zijn in de formaten doc(x) en pdf. Daarom hebben deze formaten onze prioriteit. Op termijn zullen we ook aan de slag gaan met bestandsformaten die hier nog niet zijn genoemd.</p>
              </details>
            </li>
            <li>
            <details>
                <summary>Is mijn content straks beschikbaar als API?</summary>
                <p>Ja, wij willen de toegankelijke versies van de content ook aanbieden via een API. Er is wel een aandachtspunt. Het belangrijkste doel van NLdoc is om content toegankelijk te maken. Content die wij voor overheidsorganisaties publiceren op het systeem van NLdoc zal dan ook altijd 100% toegankelijk zijn. Maar als organisaties content via de API in hun eigen systemen gebruiken, hebben wij daar geen controle meer over. Onze toegankelijkheidsgarantie geldt dus 'tot de deur'. Het is aan organisaties zelf om te zorgen dat zij de content op een toegankelijke manier in hun eigen systemen gebruiken.</p>
                </details>
            </li>
            <li>
            <details>
                <summary>Waar wordt mijn content opgeslagen?</summary>
                <p>De toegankelijke versie van jouw content wordt gepubliceerd op servers van de Rijksoverheid. De bronbestanden die je aanlevert slaan wij niet op. Ze worden omgezet naar een toegankelijke versie en daarna weer verwijderd.</p>
              </details>
            </li>
            <li>
              <details>
                <summary>Kan ik ook ontoegankelijke html-bestanden omzetten in toegankelijke html?</summary>
                <p>Deze wens staat zeker op onze prioriteitenlijst, maar voor 2023 ligt onze focus op het omzetten van <i>documenten</i> in plaats van html-bestanden.</p>
              </details>
            </li>
            <li>
              <details>
                <summary>Kan ik geanonimiseerde documenten publiceren in NLdoc?</summary>
                <p>Deze wens staat zeker op onze prioriteitenlijst, maar voor 2023 heeft dit niet onze focus. Ons eerste doel is om documenten goed om te zetten in 100% toegankelijke content. In een later stadium onderzoeken we wat mogelijk is voor geanonimiseerde documenten.</p>
              </details>
            </li>
            <li>
              <details>
                <summary>Kan ik documenten afgeschermd publiceren in NLdoc?</summary>
                <p>Deze wens staat zeker op onze prioriteitenlijst, maar voor 2023 heeft dit niet onze focus. Ons eerste doel is om documenten goed om te zetten in 100% toegankelijke content. In een later stadium onderzoeken we hoe documenten afgeschermd kunnen worden gepubliceerd.</p>
              </details>
            </li>
            <li>
              <details>
                <summary>Kan ik getekende documenten publiceren in NLdoc?</summary>
                <p>Deze wens staat zeker op onze prioriteitenlijst, maar voor 2023 heeft dit niet onze focus. Ons eerste doel is om documenten goed om te zetten in 100% toegankelijke content. In een later stadium onderzoeken we hoe getekende documenten in NLdoc kunnen worden gepubliceerd.</p>
              </details>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
