.layout-content .view-documents {

  .views-view-table {
    margin-bottom: $space-single;
  }

  [id^="edit-header"] {
    .form-wrapper {
      display: flex;

      .form-submit {
        margin-left: $space-halve;
        margin-bottom: $space-single;
      }
    }
  }

  > .view-header {
    width: fit-content;
    position: absolute;
    top: -56px; // Form item height + default margin.
  }

  th {
    padding: 0;
    border-block-end: 1px solid $color-background-gray;

    > a {
      display: block;
      padding: $space-single;
    }

    &.views-field-title {
      padding: $space-single;
      width: 40%;
    }

    &.views-field-field-last-name {
      padding: $space-single;
      width: 18%;
    }

    &.views-field-changed-1 {
      width: 11.5%;
    }

    &.views-field-status {
      width: 11.9%;
    }

    &.views-field-field-accessibility-errors {
      width: 13.5%;
    }

    &.views-field-dropbutton {
      width: 16px;
    }
  }

  td {
    border-block-end: 1px solid $color-background-gray;

    // No margins on form elements.
    .form-item {
      margin-block: 0;
    }

    &.views-field-node-bulk-form {
      vertical-align: middle;
    }

    &.views-field-title {
      padding: 0;

      &:hover ~ td,
      &:hover {
        background: $color-background-gray;
      }

      a {
        padding: $space-single;
        max-width: 502px;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
          text-decoration: underline;
        }
      }
    }

  }

  .flex-container {
    align-items: center;
    display: flex;
  }

  .error-icon {
    display: block;
    margin: 0 $space-quarter 0 0;
    height: 24px;
    width: 24px;
    background-image: url('../images/icons/icon-error.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .pager {
    width: calc(100% - 200px);
    margin-left: auto;
    float: right;
  }

  .view-footer {
    width: fit-content;
    display: inline-block;
  }
}