.view-my-group {
  padding-right: $space-halve;

  .view-content {
    display: flex;
    flex-wrap: nowrap;
  }

  .views-row {
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: $space-third;

      span {
        display: flex;

        &::after {
          content: ',';
          display: block;
        }
      }
    }
  }
}