/**
 * @file
 * Frontpage styles.
 */

@import 'base/variables';
@import 'base/mixins';

html {
  scroll-behavior: smooth;
}

.layout-header__footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 56px;
  background-color: #A90061;
  color: white;
}

.frontpage-section {
  width: 100%;
  font-family: $base-fonts-list;
  font-weight: $base-font-weight;
  color: $color-text;
  font-size: 1rem;
  line-height: 1.5em;
  scroll-behavior: smooth;

  .container {
    max-width: calc(100% - $space-double);
    padding: $default-grid-top-mobile $space-single;
  }
  h1.page-title {
    margin-bottom: 1rem;
  }
  h2,
  h3 {
    color: $color-brand-1;
  }

  .col {
    margin-bottom: $default-grid-gutter;
  }
  .col-img-text > img {
    margin-bottom: $space-halve;
  }
  .label {
    display: flex;
    align-content: center;
    padding: 4px 16px;
    border-radius: 32px;
    font-size: 1rem;
    font-weight: 300;
    background: $label-default-bg;
    &--success {
      background-color: $label-succes-bg;
    }
    &--warning {
      background-color: $label-warning-bg;
    }
  }

  @media all and (min-width: $bp-936) {
    .container {
      max-width: 1096px;
      padding: 96px $space-single 40px;
      &__bottom {
        padding-top: 20px;
        padding-bottom: 96px;
      }
    }

    .main-image {
      display: block;
      margin-left: auto;
    }

    .col-border {
      &__bottom {
        border-bottom: 2px solid $color-background-gray;
      }
    }

    .grid {
      @include grid();
    }

    .col-4 {
      @include grid-col($col: 4, $gutter: $default-grid-gutter);
    }

    .col-6 {
      @include grid-col($col: 6, $gutter: $default-grid-gutter);
    }

    .col-8 {
      @include grid-col($col: 8, $gutter: $default-grid-gutter);

    }
    .col__mar-sm {
      margin-bottom: $space-single;
    } 
  }

  @media all and (min-width: $bp-1440) {
    .container {
      max-width: 1160px;
    }
  }

}
.hide-mobile {
  display: none;

  @media all and (min-width: $bp-936) {
    display: block;
  }
}

.section {
  &--jumbotron {
    background-color: $color-brand-3;
  }

  &--alternative {
    background-color: $color-site-bg;
  }

  &--clean {
    background-color: #ffffff;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  &--documents {
    li {
      font-size: 24px;
      font-weight: 700;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: $space-single 24px;
      gap: 16px;
      background-color: white;
      margin: 0 0 $space-single;
    }
  }
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  &--check {
    background: url('../images/icons/icon-check.svg') no-repeat 0 0;
  }
  &--loader {
    background: url('../images/icons/icon-loader.svg') no-repeat 0 0;
  }
  &--loader-circle {
    background: url('../images/icons/icon-loader-circle.svg') no-repeat 0 0;
  }
  &--main {
    background: url('../images/icons/icon-main.svg') no-repeat 0 0;
  }
}

.button--contact {
  margin: $space-double 0 $space-single;
  color: $button-text;
  width: fit-content;
  padding-left: $space-single;
  padding-right: 48px;
  background-image: url('../images/icons/icon-mail.svg');
  background-repeat: no-repeat;
  background-color: $button-bg;
  background-position: calc(100% - 16px) center;
  &:hover {
    cursor: pointer;
    color: $button-text-hover;
    background-color: $button-bg-hover;
  }
}

