.form {

}
.form-item {
  margin-block: $space-single;
  &__label {
    display: block;
    margin-block: 0 $space-third;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 700;
    font-family: $base-fonts-list;
  }
  .description {
    font-size: $base-font-size-small;
    line-height: $base-line-height-small;
  }
}
.form-element {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  font-family: $base-fonts-list;
}

[type="color"],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="file"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea {
  width: 100%;
  max-width: 100%;
  margin-block: 0 $space-single;
  padding: 0 $space-single;
  border: 1px solid $color-border;
  border-radius: $radius;
  font-family: $base-fonts-list;
  font-size: 1rem;
  -webkit-appearance: none;
  appearance: none;
}
[type="file"] {
  height: auto;
  width: inherit;
  padding-block: $space-single;
  margin-block: 0 $space-halve;
}

// File upload frontpage
.pt-doccess-initial-content-file-upload-form > form {
  background-color: #FFFFFF;
  padding: $space-double;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed $color-border;
}

//  Content moderation form
.content-moderation-entity-moderation-form {
  font-family: "RO Sans", sans-serif;
  font-size: .9rem;
}
