{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @todo Create custom breadcrumb trail.
 * See https://digitoegankelijk.atlassian.net/browse/NLDOC-199.
 *
 */
#}

<div{{ attributes.addClass(classes) }}>

  {{ page.tabs }}
  {{ page.pre_content }}

  <header role="banner" class="layout-header">
    <div class="layout-header__top">
      {{ page.header }}
    </div>
    <div class="layout-header__footer">
      <div class="container">

        {% if page.primary_menu %}
          {# @todo NLDOC-884: move the main menu toggle functionality to an appropriate Twig file. #}
          <button class="button button--mobile-nav js-main-menu-toggle" data-drupal-selector="button-mobile-nav" aria-label="{{ 'Main Menu'|t }}" aria-controls="header-nav" aria-expanded="false">
            <div class="mobile-nav__icon"></div>
            <span class="mobile-nav__label">{{ 'Menu'|t }}</span>
          </button>
          <div class="js-main-menu">
          {{ page.primary_menu }}
          </div>
        {% endif %}

        <div class="user-menu">
          {{ page.secondary_menu }}
        </div>

      </div>
    </div>
    {% if page.breadcrumb %}
      <div class="layout-header__breadcrumb">
        <div class="container">
          {{ page.breadcrumb }}
        </div>
      </div>
    {% endif %}
  </header>

  <main role="main" class="layout-main" id="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    {% block main %}
      <div class="container">
        {{ page.highlighted }}
        {% if page.help %}
          <div class="help">
            {{ page.help }}
          </div>
        {% endif %}
        <div class="layout-content grid">
          {{ page.content }}
        </div>{# /.layout-content #}
      </div>
    {% endblock %}
  </main>

  {% if page.footer %}
    <footer role="contentinfo" class="layout-footer">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
