/* Fonts */
@font-face {
  font-family: "RO Sans";
  font-style: normal;
  font-weight:400;
  src:url(../fonts/ROsanswebtextregular.ttf) format("opentype")
 }
 @font-face {
  font-family: "RO Sans";
  font-style: italic;
  font-weight:400;
  src:url(../fonts/ROsanswebtextitalic.ttf) format("opentype")
 }
 @font-face {
  font-family: "RO Sans";
  font-style: normal;
  font-weight:700;
  src:url(../fonts/ROsanswebtextbold.ttf) format("opentype")
 }
 @font-face {
  font-family: "RO Serif";
  font-style: normal;
  font-weight: 400;
  src:url(../fonts/ROserifwebtextregular.ttf) format("opentype")
 }
/* Base font settings */
.layout-container {
  font-family: $base-fonts-list; 
  font-weight: $base-font-weight;
  color: $color-text;
  font-size: 1rem;
  line-height: 1.5em;
}
p {
  margin: 0 0 1rem;
}

 /* Links */
 a {
  color: $color-link-text;
  &:focus,
  &:hover {
    color: $color-link-text-hover;
  }
  &:visited {
    color: $color-link-text;
  }
}