/* Text paragraph */
blockquote {
  font-family: $base-fonts-list;
  font-size: 1.5rem;
  font-style: italic;
  color: $color-brand-1;
  margin: 0 0 $space-single;
  padding: $space-single $space-single $space-single 1.5rem;
  border-left: 2px solid $color-brand-1;
  > p {
    font-size: 1.5rem;
    margin: 0;
  }
}
